<!--  Radio buttons "Exact phrase", "All of the words", "At least one of the words"  -->
<span ng-controller="PublicIdSearchController">

<!-- Search field drop down, text input, search & clear button  -->
<div class="publicIdSearch">
    <span class="searchField">
        <label for="publicId">Public ID</label>
        <input class="basicSearchQuery roundInput" id="publicId" type="text" data-ng-model="publicIdSearchQuery" placeholder="Public ID" />
        <div class="searchTips">Tip: A user can search by multiple public ids separated by a space.
        </div>
    </span>
    <span class="searchField name">
        <label for="name">Name</label>
        <input class="basicSearchQuery roundInput" id="name" ng-disabled="publicIdSearchQuery==''" type="text" data-ng-model="publicIdName" placeholder="Names and Definitions" />
        <div class="queryTypeRadioButtons container">
        <form role="form">
        <label data-ng-repeat="qType in searchQueryTypes" class="radio-inline">
        <span>
        <input ng-disabled="fs.isSearching"
                    name="selectedQueryType"
                    type="radio"
                    value="{{qType.id}}"
                    data-ng-model="fs.dataElementVariables.selectedQueryType"/>
            {{qType.name}}
        </span>
        </label>
        </form>
        <div class="searchTips">Tip: To search for partial words or phrases use the * as a wildcard.<BR>
        Note: Default settings excludes the Test Context view from the tree.
        </div>
        </div>
    </span>
    <button id="search" ng-disabled="fs.isSearching" data-ng-click="onClickBasicSearch(publicIdSearchQuery, 'publicId', 2, publicIdName)">
        Search
    </button>
    <button id="clear" data-ng-click="clear()">
        Clear
    </button>    
</div>
</span>