<!--  Radio buttons "Exact phrase", "All of the words", "At least one of the words"  -->
<span ng-controller="PublicIdSearchController">

<!-- Search field drop down, text input, search & clear button  -->
<div class="publicIdSearch">
    <span class="searchField">
    	<label for="publicId">Public ID</label>
	    <input class="basicSearchQuery" id="publicId" type="text" data-ng-model="publicIdSearchQuery" placeholder="Public ID" />
	</span>
    <span class="searchField name">
	    <label for="name">Name</label>
	    <input class="basicSearchQuery" id="name" type="text" data-ng-model="publicIdName" placeholder="Names and Definitions" />
	</span>
    <button id="search" ng-disabled="publicIdSearchQuery==''" data-ng-click="onClickBasicSearch(publicIdSearchQuery, 'publicId', 2, publicIdName)">
        Search
    </button>
    <button id="clear" data-ng-click="clear()">
        Clear
    </button>
    <div class="searchTips">Tip: A user can search by multiple public ids separated by a space.
    </div>    
</div>
</span>