
<br/>


<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="2">Selected Data Element</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Public ID:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.selectedDataElement.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.selectedDataElement.version}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.selectedDataElement.longName}}</td>
    </tr>  
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.selectedDataElement.shortName}}</td>
    </tr>  
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Preferred Question Text:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.selectedDataElement.preferredQuestionText}}</td>
    </tr>  
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Definition:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.selectedDataElement.definition}}</td>
    </tr>  
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Workflow Status:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.selectedDataElement.workflowStatus}}</td>
    </tr>                        
</table>
<br/>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="2">Value Domain Details</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Public ID:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.version}}</td>
    </tr>    
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.longName}}</td>
    </tr>    
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.shortName}}</td>
    </tr>    
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Context Name:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.context}}</td>
    </tr>    
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Definition:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.definition}}</td>
    </tr>    
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Workflow Status:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.workflowStatus}}</td>
    </tr>     
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Datatype:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.dataType}}</td>
    </tr> 
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Unit of Measure:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.unitOfMeasure}}</td>
    </tr>     
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Display Format:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.displayFormat}}</td>
    </tr> 
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Maximum Length:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.maximumLength}}</td>
    </tr>     
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Minimum Length:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.minimumLength}}</td>
    </tr> 
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Decimal Place:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.decimalPlace}}</td>
    </tr>     
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">High Value:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.highValue}}</td>
    </tr> 
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Low Value:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.lowValue}}</td>
    </tr>     
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Value Domain Type:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.valueDomainType}}</td>
    </tr> 
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Public ID:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.conceptualDomainPublicId}}</td>
    </tr>     
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Short Name:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.conceptualDomainShortName}}</td>
    </tr> 
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Context Name:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.conceptualDomainContextName}}</td>
    </tr> 
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Version:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.getConceptualDomainVersion}}</td>
    </tr> 
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Origin</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainDetails.origin}}</td>
    </tr> 

</table><br />
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td>Value Domain Concepts</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementValue">{{cdeDetails.valueDomain.valueDomainConcepts}}</td>
    </tr>
</table><br />
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="2">Representation</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Public ID:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.representation.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.representation.version}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.representation.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.representation.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Context:</td>
        <td class="dataElementValue">{{cdeDetails.valueDomain.representation.context}}</td>
    </tr>      
</table><br />
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="6">Representation Concepts</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">Concept Name</td>
        <td class="dataElementHeading">Concept Code</td>
        <td class="dataElementHeading">Public ID</td>
        <td class="dataElementHeading">Definition Source</td>
        <td class="dataElementHeading">EVS Source</td>
        <td class="dataElementHeading">Primary</td>
    </tr>       
    <tr class="dataElementViewTableTr" ng-repeat="representation in cdeDetails.valueDomain.representationConcepts">
        <td class="dataElementValue">Condition</td>
        <td class="dataElementValue"><a href="">C25457</a></td>
        <td class="dataElementValue">2202899</td>
        <td class="dataElementValue">NCI</td>
        <td class="dataElementValue">NCI_CONCEPT_CODE </td>
        <td class="dataElementValue">No</td>
    </tr>          
</table><br />
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="8">Permissible Values</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">PV</td>
        <td class="dataElementHeading">PV Meaning</td>
        <td class="dataElementHeading">PV Meaning Concept Codes</td>
        <td class="dataElementHeading">PV Meaning Description</td>
        <td class="dataElementHeading">PV Begin Date</td>
        <td class="dataElementHeading">PV End Date</td>
        <td class="dataElementHeading">VM Public ID</td>
        <td class="dataElementHeading">VM Version</td>
    </tr>       
    <tr class="dataElementViewTableTr" ng-repeat="p_value in representation in cdeDetails.valueDomain.permissibleValues">
        <td class="dataElementValue">1</td>
        <td class="dataElementValue"><a href="">Single Episode</a></td>
        <td class="dataElementValue"><a href="">C48440:C75539(Primary)</a></td>
        <td class="dataElementValue">Not accompanied by another or others; exclusive of anyone or anything else. : A noteworthy happening that is distinctive in a series of related events.</td>
        <td class="dataElementValue">2003-09-30</td>
        <td class="dataElementValue"></td>
        <td class="dataElementValue">2567092</td>
        <td class="dataElementValue">1.0</td>
    </tr>          
</table><br />
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="5">Reference Documents</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">Document Name</td>
        <td class="dataElementHeading">Document Type</td>
        <td class="dataElementHeading">Document Text</td>
        <td class="dataElementHeading">Context</td>
        <td class="dataElementHeading">URL</td>
    </tr>
    <tr class="dataElementViewTableTr" ng-repeat="doc in cdeDetails.valueDomain.valueDomainReferenceDocuments">
        <td class="dataElementValue" colspan="5">There are no reference documents for the value domain.</td>
    </tr>    
</table><br />
    