<br>

<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Selected Data Element</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Public ID:</td>
        <td class="dataElementValue">{{cdeDetails.classifications.selectedDataElement.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue">{{cdeDetails.classifications.selectedDataElement.version}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue">{{cdeDetails.classifications.selectedDataElement.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue">{{cdeDetails.classifications.selectedDataElement.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Preferred Question Text:</td>
        <td class="dataElementValue">{{cdeDetails.classifications.selectedDataElement.preferredQuestionText}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Definition:</td>
        <td class="dataElementValue">{{cdeDetails.classifications.selectedDataElement.definition}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription"> Workflow Status:</td>
        <td class="dataElementValue">{{cdeDetails.classifications.selectedDataElement.workflowStatus}}</td>
    </tr>
</table>
<br>



<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="6" align="left">Classifications
            <br>
            <font size="-2" color="#336699">*CS:Classification Scheme&nbsp;&nbsp; CSI:Classification Scheme Item</font>
        </td>
    </tr>
</table>

<table class="dataElementViewTableWithScroller" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <th class="dataElementHeading">CS* Long Name</th>
        <th class="dataElementHeading">CS* Definition</th>
        <th class="dataElementHeading">CS* Public ID/Version</th>
        <th class="dataElementHeading">CSI* Name</th>
        <th class="dataElementHeading">CSI* Type</th>
        <th class="dataElementHeading">CSI* Public ID/Version</th>
    </tr>
    <tr class="dataElementViewTableTr"  data-ng-repeat="classif in cdeDetails.classifications.classificationList">
        <td class="dataElementValue">{{classif.csLongName}}</td>
        <td class="dataElementValue">{{classif.csDefinition}}</td>
        <td class="dataElementValue">{{classif.csId}}v{{classif.csVersion}}</td>
        <td class="dataElementValue">{{classif.csiName}}</td>
        <td class="dataElementValue">{{classif.csiType}}</td>
        <td class="dataElementValue">{{classif.csiId}}v{{classif.csiVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr" ng-hide="cdeDetails.classifications.classificationList.length">
        <td colspan="3">No applicable Classifications</td>
    </tr>
</table><br>

<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="7" align="left">Classifications Scheme Reference Documents</th>
    </tr>
</table>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">CS* Long Name</td>
        <td class="dataElementHeading">CS* Version</td>
        <td class="dataElementHeading">Document Name</td>
        <td class="dataElementHeading">Document Type</td>
        <td class="dataElementHeading">Document Text</td>
        <td class="dataElementHeading">URL</td>
        <td class="dataElementHeading">Attachments</td>
    </tr>
    <tr class="dataElementViewTableTr" data-ng-repeat="csrefdoc in cdeDetails.classifications.classificationsSchemeReferenceDocuments">
        <td class="dataElementValue">{{csrefdoc.csLongName}}</td>
        <td class="dataElementValue">{{csrefdoc.csVersion}}</td>
        <td class="dataElementValue">{{csrefdoc.documentName}}</td>
        <td class="dataElementValue">{{csrefdoc.documentType}}</td>
        <td class="dataElementValue">{{csrefdoc.documentText}}</td>
        <td class="dataElementValue">{{csrefdoc.url}}</td>
        <td class="dataElementValue">&nbsp;</td>
    </tr>
    <tr class="dataElementViewTableTr" ng-hide="cdeDetails.classifications.classificationsSchemeReferenceDocuments.length">
        <td colspan="3">No applicable Classifications Scheme Reference Documents</td>
    </tr>
</table><br>

<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="6" align="left">Classification Scheme Item Reference Documents</th>
    </tr>
</table>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">CSI* Name</td>
        <td class="dataElementHeading">Document Name</td>
        <td class="dataElementHeading">Document Type</td>
        <td class="dataElementHeading">Document Text</td>
        <td class="dataElementHeading">URL</td>
        <td class="dataElementHeading">Attachments</td>
    </tr>
    <tr class="dataElementViewTableTr" data-ng-repeat="csirefdoc in cdeDetails.classifications.classificationsSchemeItemReferenceDocuments">
        <td class="dataElementValue">{{csirefdoc.csiName}}</td>
        <td class="dataElementValue">{{csirefdoc.documentName}}</td>
        <td class="dataElementValue">{{csirefdoc.documentType}}</td>
        <td class="dataElementValue">{{csirefdoc.documentText}}</td>
        <td class="dataElementValue">{{csirefdoc.url}}</td>
        <td class="dataElementValue">&nbsp;</td>
    </tr>
    <tr class="dataElementViewTableTr" ng-hide="cdeDetails.classifications.classificationsSchemeItemReferenceDocuments.length">
        <td colspan="3">No applicable Classification Scheme Item Reference Documents</td>
    </tr>
</table><br>
