<!DOCTYPE html>
<html>
<head>
    <title>CDE Browser 5.3.1</title>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="plugins/ng-table/ng-table.min.css">
    <link rel="stylesheet" type="text/css" href="css/cdeBrowserClient.css">
    <link rel="stylesheet" type="text/css" href="css/treeMenu.css">
    <link rel="stylesheet" type="text/css" href="css/tabMenu.css">
    <link rel="stylesheet" type="text/css" href="css/basicSearchResults.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="cde/cde.css">
    <link rel="stylesheet" type="text/css" href="libs/ui-select/select.css">
    <link rel="stylesheet" type="text/css" href="libs/ui-select-with-tree-navigation/style.css">
    <link rel="stylesheet" type="text/css" href="libs/ui-select-with-tree-navigation/selectize.bootstrap3.min.css">
    <style>
        .allHTML {
            display:none;
        }

        .thumbnail {
            height: 15px;

            text-align: center;
            padding-top: 0px;
            transition: none;
            -webkit-transition: none;
            -moz-transition: none;
            -o-transition: none;
            cursor: move;

        }
        .thumbnail[data-drag="false"] {
            background: green;
        }
        ul.hhswarningMain {
			    padding-left: 24px !important;
			    margin-top: 12px;
			    list-style-type: disc;
		}
        ul.hhswarningSub {
			    padding-left: 20px;
			    margin-top: 8px;
			    list-style-type: circle;
		}		
    </style>

</head>
<body>
<!-- =============================================================================== -->

<!-- ************ Top header with NCI logo ************ -->
<div class="top-left-logo">
    <a href="https://www.cancer.gov/" target="_blank">
        <img alt="National Cancer Institute, Center for Biomedical Infomatics & Information Technology."
             src="icons/CBIIT-36px-Logo-COLOR_contrast.png">
    </a>
</div>

<div class="top-center-logo">
    <img alt="CDE Browser Logo" src="icons/cdeBrowserLogo.png">
</div>

<div class="top-right-logo">
    <a href="https://www.nih.gov/" target="_blank">
        <span>U.S. National Institutes of Health</span>
    </a>
</div>

<!-- ********************************************************************** -->
<!-- ********************* Start of AngularJS control ********************* -->
<!-- ********************************************************************** -->

<div data-ng-app="cdeBrowserApp" data-ng-controller="cdeBrowserController" data-ng-cloak class="data-ng-cloak">
<div class="allHTML" id="allHTML">
    <!-- ************ Second row at top - caDSR logo, CDE Browser logo, four round buttons ************ -->
    <div class="top2-left-logo">
        <a href="https://cbiit.nci.nih.gov/ncip/biomedical-informatics-resources/interoperability-and-semantics/metadata-and-models"
           target="_blank">
            <img alt="CADSR logo" src="icons/caDSR_logo2_contrast.png">
        </a>
    </div>
    <!-- Admin Tool, Curation Tool, NCI Metathesaurus, NCI Terminology Server, Sentinel Tool, What's new, Available Downloads -->
    <div class="top2-center-logo">
    <span>
        <a class="toolLinks" href="{{admintoolToolHost}}" target="_blank">
            Admin Tool
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="{{curationToolHost}}" target="_blank">
            Curation Tool
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="https://ncim.nci.nih.gov/ncimbrowser" target="_blank">
            NCI Metathesaurus
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="https://ncit.nci.nih.gov/ncitbrowser/start.jsf" target="_blank">
            NCI Terminology Server
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="{{sentinelToolHost}}" target="_blank">
            Sentinel Tool
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="https://wiki.nci.nih.gov/x/zIJQEw" target="_blank">
            What's new
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="https://wiki.nci.nih.gov/x/AbH9AQ" target="_blank">
            Available Downloads
        </a>&nbsp;
    </span>
    </div>

    <!-- ** Four round buttons **  -->
    <div class="top2-right-logo">
        <table Cellpadding=3 Cellspacing=0>
            <tr>
                <td class="roundButton" valign="TOP" align="CENTER" colspan=1>
                    <span class="cart">
                        <span class="cartCount" ng-show="cartService.cartData.length">
                            <span>{{cartService.cartData.length}}</span>
                        </span>
                        <a href ng-click="changeLocation('/cdeCart')" target="_top">
                            <img src="icons/buttonIconSet/brown/75_percent/circle_shopping_cart.png"
                                 alt="CDE Cart button" />
                            <br>
                            <span> &nbsp;CDE&nbsp;Cart&nbsp;</span>
                        </a>
                    </span>
                </td>
                <td class="roundButton" valign="TOP" align="CENTER" colspan=1>
                    <a href="cdeBrowser.html" target="_top">
                        <img src="icons/buttonIconSet/brown/75_percent/circle_home.png"
                             alt="CDE Browser Home button"
                        />
                        <br>
                        &nbsp;Home&nbsp;
                    </a>
                </td>

                <td class="roundButton" valign="TOP" align="CENTER" colspan=1>
                    <a href="{{formbuilderToolHost}}/FormBuilder/formSearchAction.do"
                       target="_blank">
                        <img src="icons/buttonIconSet/brown/75_percent/circle_form.png"
                             alt="Form Builder button"
                        />
                        <br>
                        &nbsp;Form Builder&nbsp;
                    </a>
                </td>

                <td class="roundButton" valign="TOP" align="CENTER" colspan=1>
                    <a href="https://wiki.nci.nih.gov/x/toFSEg"
                       target="_blank">
                        <img src="icons/buttonIconSet/brown/75_percent/circle_help.png"
                             alt="CDE Browser User Guide button"
                        />
                        <br>
                        &nbsp;Help&nbsp;
                    </a>
                </td>
                <td ng-if="authenticationService.loggedIn" class="roundButton" valign="TOP" align="CENTER" colspan=1>
                    <a href
                       ng-click="logout()">
                        <img src="icons/buttonIconSet/brown/75_percent/circle_logout.png"
                             alt="Logout button"
                        />
                        <br>
                        &nbsp;Logout&nbsp;
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <!-- ************ Program Area The tabs across the top  ************ -->
    <div ng-hide="contextListMaster.length>0">
        <div class="topTabPos">
            <ul>
                <div data-ng-repeat="tab in programAreaTabs">
                    <li id="top_tabs" class="tabNormal">
                        &nbsp;{{tab}}&nbsp;
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="topTabPos" ng-show="contextListMaster.length>0" ng-hide="!searchFactory.showSearch">
        <ul>
            <!--
                Just getting the parent top level nodes for the top tabs, nodeNumber is counter,
                node is the actual node, we just need the text for the tabs.
            -->
            <div data-ng-repeat="(nodeNumber, node) in contextListMaster">

                <li id="top_tabs"
                    data-ng-class="{
                        tabActive: isActiveTab(nodeNumber),
                        tabNormal: (! isActiveTab(nodeNumber))
                        }"
                    data-ng-click="onClickTab(nodeNumber)">
                    &nbsp;{{node.text}}&nbsp;
                </li>

            </div>
        </ul>
    </div>
    <br ng-if="searchFactory.showSearch">
    <div class="topTabSeparator" ng-if="searchFactory.showSearch"></div><!-- ng-show="waitMessage==''" -->

    <!-- tree menu(s) for each tab.  Each tree is there, but we only show the one for the selected tab -->
    <!--  contextListMaster[nodeNumber].children is entire tree for each parent node.  -->
    <div style="width:20%;height:600px;" class="treeMenu" ng-hide="contextListMaster.length>0">
        <div style="background-color: #f7f7e6 !important;" ng-show="searchFactory.showSearch" data-ng-class="{
             normMessage: messageClass == cssClasses['NORMAL'],
             bigMessage: messageClass == cssClasses['BIG'],
             errorMessage: messageClass == cssClasses['ERROR']
             }">
            <span style="background-color: #f7f7e6 !important;" ng-show="waitMessage&&waitMessage!=''" data-ng-bind-html-unsafe="waitMessage" data-ng-class="{
                 bigSearchResultsMessage: bigSearchResultsMessageClass,
                 normSearchResultsMessage: (! bigSearchResultsMessageClass)
                 }">
                <ul ng-show="waitMessage" class="cdeSearchMessage">
                    <li>
                        {{waitMessage}}
                    </li>
                    <br />
                    <li>
                        <img alt="Loading..." src="icons/preloader.gif">
                    </li>
                </ul>

            </span>
        </div>
    </div>
    <div data-ng-repeat="(nodeNumber, node) in contextListMaster" ng-show="contextListMaster.length>0" ng-hide="!searchFactory.showSearch"><!-- ng-show="searchFactory.showSearch" -->

        <div class="treeMenu" data-ng-show="show[nodeNumber]"
             data-ng-style="resizeHeight()"
             resize
             notifier="notifyServiceOnChange(params)">

            <div class="tabCaptionWrapper cssFade" data-ng-show="show[nodeNumber]">
                <div data-ng-repeat="(nodeNumber, node) in contextListMaster">
                    <div class="tabCaption" data-ng-show="show[nodeNumber]">{{node.hover}}</div>
                </div>
            </div>

            <div class="cssFade" data-ng-show="show[nodeNumber]"
                 data-cdebrowser-treeview="true"
                 data-tree-id="tree"
                 data-tree-model="contextListMaster[nodeNumber].children"
                 data-node-action="href"
                 data-node-childType="childType"
                 data-node-isParent="isParent"
                 data-node-type="type"
                 data-node-label="text"
                 data-node-hover="hover"
                 data-node-children="children">
            </div>
        </div>
    </div>

    <!-- =============================================================================== -->
    <!--  Right side,  search and search results.  -->
    <div class="resultsDisplay" data-ng-controller="cdeCtrl" data-ng-cloak class="ng-cloak"
         data-ng-style="resizeHeight()"
         resize
         notifier="notifyServiceOnChange(params)"><!-- data-ng-show="initComplete" -->
        <div label="search area" ng-show="searchFactory.showSearch">
            <!-- generate tabs for search, advanced search and search preferences -->
            <div class="cdeSearchTabs">
                <ul class="cdeTabsUl">
                    <button class="cdeTabsLi" ng-repeat="tab in searchTabs track by $index" data-ng-class="{tabActive: activeSearchTab==$index}" ng-click="changeSearchTab($index)" ng-disabled="tab.disabled">
                        {{tab.title}}
                    </button>
                </ul>
            </div>
            <!-- end generate tabs -->
            <!-- display proper view based on tab selected -->
            <div id="cdeSearchArea">
                <div class="view"  ng-include="'cde/genericSearch/genericSearch-view.html'" ng-show="activeSearchTab==0">
                    This is the generic search pane.
                </div>
                <div class="view" ng-include="'cde/publicIdSearch/publicIdSearch-view.html'" ng-show="activeSearchTab==1">
                    This is the public id search pane. The default search.
                </div>
                <div class="view" ng-include="'cde/searchPreferences/searchPreferences-view.html'" ng-show="activeSearchTab==2">
                    This is the search preferences pane.
                </div>
                <!--
                <div class="view" ng-include="'cde/advancedSearch/advancedSearch-view.html'" ng-show="activeSearchTab==3">
                    This is the advanced search pane.
                </div>
                -->
                <div class="filters" ng-show="activeSearchTab==0" ng-disabled="true">

                <span>
                <ui-select id="programArea" ng-disabled="filterService.isSearching" ng-change="filterService.resetContext()" theme="bootstrap" ng-model="filterService.searchFilter.programArea">
                    <ui-select-match placeholder="Program Area">{{$select.selected.text}}</ui-select-match>
                    <ui-select-choices repeat="value.programArea as value in filterService.serverData | filter: $select.search">
                        <div ng-bind-html="value.text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                </span>

                <span>
                <ui-select id="context" ng-change="contextSearch($select.selected)" ng-disabled="filterService.isSearching" theme="bootstrap" ng-model="filterService.searchFilter.context">
                    <ui-select-match allow-clear="true" placeholder="Context">{{$select.selected.text}}</ui-select-match>
                    <ui-select-choices
                    repeat="value.idSeq as value in filterService.serverData[filterService.searchFilter.programArea].children | filter: $select.search | filter:manageOptions"
                    >
                        <div ng-bind-html="value.text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                </span>

                <span>
                    <ui-tree-select1 model="model1" context-cascade="contextCascade(filterService.searchFilter.classification)">
                    </ui-tree-select1>
                    <script type="text/ng-template" id="/ui-tree-select1.html">
                        <ui-select id="Classifications"
                                   ng-model="filterService.searchFilter.classification"
                                   ng-disabled="filterService.isSearching||filterService.searchFilter.protocol"
                                   ui-select-focuser1
                                   theme="bootstrap"
                                   ng-change="contextCascade($select.selected)">
                            <ui-select-match placeholder="Classification" allow-clear="true">
                                {{ $select.selected.name }}
                            </ui-select-match>
                            <ui-select-choices group-by="'contextName'" repeat="group in filterService.classifications | filter: $select.search" refresh="loadClassifications($select.search)">
                                <div>
                                    <span ng-bind-html="group.name | highlight: $select.search"></span>
                                    <a class="goto-child-group" ng-show="checkChildren1(group)"
                                       ng-click="loadChildGroupsOf1(group, $select)">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </ui-select-choices>

                        </ui-select>
                    </script>
                </span>
                
                <span>
                    <ui-tree-select model="model" context-cascade="contextCascade(filterService.searchFilter.protocol)">
                    </ui-tree-select>
                    <script type="text/ng-template" id="/ui-tree-select.html">
                        <ui-select id="Protocols"
                                   ng-model="filterService.searchFilter.protocol"
                                   ng-disabled="filterService.isSearching||filterService.searchFilter.classification"
                                   ui-select-focuser
                                   theme="bootstrap"
                                   ng-change="contextCascade($select.selected)">
                            <ui-select-match placeholder="Protocol or Form" allow-clear="true">
                                {{ $select.selected.name }}
                            </ui-select-match>
                            <ui-select-choices group-by="'contextName'" repeat="group in filterService.protocols | filter: $select.search" refresh="loadProtocols($select.search)">
                                <div>
                                    <span class="autoDropDown" ng-bind-html="group.name | highlight: $select.search"></span>
                                    <a class="goto-child-group" ng-show="checkChildren(group.id)"
                                       ng-click="loadChildGroupsOf(group, $select)">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </script>
                </span>

                <span class="wsAndRs">
                <select ng-disabled="fs.isSearching" multiple="true" ng-model="filterService.searchFilter.workFlowStatus" ng-change="setSelectedWs()">
                    <option ng-repeat="r in staticFilters.workflowStatusFilter" value="{{r}}">{{r}}</option>
                </select>
                </span>

                <span class="wsAndRs">
                <select ng-disabled="fs.isSearching" multiple="true" ng-model="filterService.searchFilter.registrationStatus" ng-change="setSelectedRs()">
                    <option ng-repeat="r in staticFilters.registrationStatusFilter" value="{{r}}">{{r}}</option>
                </select>
                </span>

                <span>
                    <label>Concept</label>
                    <input ng-disabled="fs.isSearching" class="roundInput conceptInput" type="text" data-ng-model="fs.dataElementVariables.conceptInput" ng-keyup="searchKey(e=$event)" placeholder="Concept Name or Concept Code" />
                    </label>
                </span>

                    <br />
            <div class="searchTips"><strong>Tip</strong>: To search for All Preferred Standards, select <i>Preferred Standard</i> from the registration status list above. To search for All Standards, select <i>Standard</i>. To search for Both Preferred Standards and Standards, select both <i>Preferred Standard</i> and <i>Standard</i>.            </div>
                <span class="searchAndClearButton leftButton">
                    <button class="btn btn-default" ng-hide="more" ng-disabled="filterService.isSearching" label="Reset Filters" ng-click="search()">Search</button>
                </span>

                <span class="searchAndClearButton">
                    <button class="btn btn-default" ng-hide="more" ng-disabled="filterService.isSearching" label="Reset Filters" ng-click="resetFilters()">Clear</button>
                </span>
                    <!-- Start of Advance Search Options -->

                    <br />

                    <div class="advanceView" ng-show="more">

                        <div class="view" ng-include="'cde/advancedSearch/advancedSearch-view.html'">
                        </div>

                    </div>

                    <div class="advanceSearchCenter">
                        <button class="btn btn-default advanceSearchButton" ng-hide="more" ng-click="advanceSearchShow()">Include Additional Search Criteria</button>
                        <button class="btn btn-default advanceSearchButton" ng-show="more" ng-click="advanceSearchShow()">Exclude Additional Search Criteria</button>
                    </div>

                <span ng-show="more" class="advanceSearchAndClearButton leftButton">
                    <button class="btn btn-default" ng-disabled="filterService.isSearching" label="Reset Filters" ng-click="search()">Search</button>
                </span>

                <span ng-show="more" class="advanceSearchAndClearButton">
                    <button class="btn btn-default" ng-disabled="filterService.isSearching" label="Reset Filters" ng-click="resetFilters()">Clear</button>
                </span>

                    <!-- End of Advance Search Options -->

                </div>

            </div>

            <!-- end display proper view based on tab selected -->
            <br ng-show="searchResults.length" />

            <!-- Search status message -->
        <span ng-show="searchResultsMessage&&searchResultsMessage!=''" data-ng-bind-html-unsafe="searchResultsMessage" data-ng-class="{
             bigSearchResultsMessage: bigSearchResultsMessageClass,
             normSearchResultsMessage: (! bigSearchResultsMessageClass)
             }">
            <!-- {{searchResultsMessage}} -->

                        <ul ng-show="searchResultsMessage" class="cdeSearchMessage">
                            <li>
                                {{searchResultsMessage}}
                            </li>
                            <li>
                                <img alt="Searching" src="icons/preloader.gif">
                            </li>
                        </ul>
        </span>

            <!--  Bread Crumbs  -->
            <div id="breadCrumbsAnchor" class="breadCrumbs">
            <span>
                <span data-ng-repeat="b in breadCrumbs">
                    {{b}}<span data-ng-show="!$last"> >></span>
                </span><br/>
            </span>
            </div>

            <div data-ng-bind-html-unsafe="statusMessage" ng-show="statusMessage!=undefined"><br><span style='color: #8b0000; font-weight: bold; font-size: 18pt;'>
            {{statusMessage}}</span><br>
            </div>

            <!-- start Download Buttons -->
        <span ng-show="searchResults.length">
            <ul class="cdeDownloadButtons buttonsPadding">
                <li>
                    <button label="Download To Excel" data-ng-click="downloadToExcel()" ng-disabled="!checkedItemsForDownload.length">
                        Download to Excel
                    </button>
                </li>
                <li>
                    <button label="Download to Prior Excel" data-ng-click="downloadToExcel('prior')" ng-disabled="!checkedItemsForDownload.length">
                        Download to Prior Excel
                    </button>
                </li>
                <li>
                    <button label="Download Data Elements as XML" data-ng-click="downloadToXML()" ng-disabled="!checkedItemsForDownload.length">
                        Download Data Elements as XML
                    </button>
                </li>               
                <li ng-if="fs.searchFilter.protocol && fs.searchFilter.protocol.rdIdseq">
                    <button label="Download Template" data-ng-click="downloadTemplate()">
                        Download Template
                    </button>
                </li>
                <br />
                <li>
                    <button label="Add to CDE Cart" ng-click="addCDE()" ng-disabled="!checkedItemsForDownload.length">
                        Add to CDE Cart
                    </button>
                </li>
                <li>
                    <button label="Add to CDE Compare List" ng-click="addToCompare()" ng-disabled="!checkedItemsForDownload.length">
                        Add to CDE Compare List
                    </button>
                </li>
                <li>
                    <button label="Compare CDEs" ng-click="compareCDE()" ng-disabled="!checkedItemsForDownload.length">
                        Compare CDEs
                    </button>
                </li>
            </ul>

            <span class="cdeCartList" ng-show="rslt1.length>0">
                <span style="padding-left:4px;">{{rslt1.length}} Selected CDE(s) were added to your CDE Cart Successfully</span>
                <!-- <span ng-repeat="r in rslt1">{{r.longName}}<span ng-show="!$last">,</span> </span>successfully added to CDE Cart -->
            </span>

            <span class="cdeCompareList" ng-show="rslt2.length>0">
                <span style="padding-left:4px;">{{rslt2.length}} Selected CDE(s) were added to the CDE Compare List Successfully</span>
                <!-- <span ng-repeat="r in rslt2">{{r.longName}}<span ng-show="!$last">,</span> </span>successfully added to CDE Compare List -->
            </span>

            <!-- show progress bar -->
            <ul ng-show="downloadFactory.progressMessage.status"
                ng-class="{'cdeProgressMessage error': downloadFactory.progressMessage.isErrorMessage,'cdeProgressMessage': !downloadFactory.progressMessage.isErrorMessage}">
                <li>
                    <span data-ng-bind-html="downloadFactory.progressMessage.message"></span>
                </li>
                <li ng-show="!downloadFactory.progressMessage.isErrorMessage">
                    <img alt="Exporting File" src="icons/preloader.gif">
                </li>
            </ul>
            <!-- end show progress bar -->
        </span>
            <!-- end Download Buttons -->

            <!-- <br /> -->

            <!-- the search results tabs and content below -->
            <div class="cdeTabs">
                <ul class="cdeTabsUl">

                    <button class="cdeTabsLi"
                            data-ng-disabled="tabsDisabled && tabNumber"
                            id="tab_" + tabNumber
                            data-ng-repeat="(tabNumber,tab) in tabs"
                            data-ng-class="{
                        tabActive:   isActiveCdeTab(tabNumber),
                        tabNormal:   ( ( ! cdeTabHasFocus[tabNumber] ) && ( ! isActiveCdeTab( tabNumber ) ) ),
                        tabDisabled: ( tabsDisabled && tabNumber) ,
                        tabFocused:  ( ( cdeTabHasFocus[tabNumber] ) && ( ! isActiveCdeTab( tabNumber ) ) )
                        }"
                            data-ng-blur="lostFocus(tabNumber)"
                            data-ng-focus="gotFocus(tabNumber)"
                            data-ng-click="changeView(tabNumber,tab)">{{tab.title}}
                    </button>


                </ul>
            </div>

            <!-- =============================================================================== -->
            <!-- The search results tab with Search results table - this is the only tab that is not an data-ng-view ========== -->
            <div id="searchResults" class="cdeSearchTabsView" data-ng-show="showCdeSearchResults">
                <div class="sortOrder">
                    <div data-ng-class="{left:searchResultsCount,leftFull:!searchResultsCount}">
                    <span class="row">
                        <ul>
                            <li>Sort Order:</li>
                            <li ng-repeat="item in sortOrderObject.items">
                                {{item}} <span class="separator" ng-if="!$last">>> </span>
                            </li>
                            <li>[{{sortOrderObject.sortDirection}}]</li>
                        </ul>
                    </span>
                        <span class="row"><a href="#" data-ng-click="resetSortOrder()">Reset Sort Order</a></span>
                    </div>
                    <div class="right">
                    <span class="row">
                        <span ng-show="searchResults.length">Results: {{searchResults.length}}</span>
                        <span ng-show="!searchResults.length">No search results</span>
                    </span>
                    <span class="row">
                        <div data-ng-table-pagination="tableParams" template-url="'plugins/ng-table/pager.html'"></div>
                    </span>
                    </div>
                </div>

                <script type="text/ng-template" id="ng-table/headers/checkbox.html">
                    <input type="checkbox" data-ng-model="checkboxes.checked" ng-change="cdeCartCheckAll(checkboxes.checked)" id="select_all" name="filter-checkbox"
                           value=""/>
                </script>

                <table data-ng-table="tableParams" show-filter="false" class="searchResultsTable" ng-show="searchResults.length">
                    <tr class="searchResultsTableTr" data-ng-repeat="result in $data track by $index">
                        <td header="'ng-table/headers/checkbox.html'">
                            <input type="checkbox" data-ng-model="checkboxes.items[result.deIdseq]" ng-change="cdeCartCheck(result, checkboxes.items[result.deIdseq])" ng-click="">
                        </td>

                        <td data-title="'Long Name'" sortable="'longName'" class="searchResultsTableTd" width="15%">


                            <a class="searchResultsLink" href="" data-ng-click="onClickCdeDetails(result.deIdseq)">{{result.longName}} </a>
                        </td>
                        <td data-title="'Preferred Question Text'" sortable="'preferredQuestionText'"
                            class="searchResultsTableTd" width="17%">{{result.preferredQuestionText}}
                        </td>
                        <td data-title="'Owned By'" sortable="'ownedBy'" class="searchResultsTableTd" width="10%">
                            {{result.ownedBy}}
                        </td>
                        <td data-title="'Used By Context'" sortable="'usedByContext'" class="searchResultsTableTd"
                            width="14%">{{result.usedByContext}}
                        </td>
                        <td data-title="'Registration Status'" sortable="'registrationSort'" class="searchResultsTableTd"
                            width="14%">{{result.registrationStatus}}
                        </td>
                        <td data-title="'Workflow Status'" sortable="'workflowSort'" class="searchResultsTableTd"
                            width="14%">{{result.workflowStatus}}
                        </td>
                        <td data-title="'Public ID'" sortable="'publicId'" class="searchResultsTableTd" width="10%">
                            {{result.publicId}}
                        </td>
                        <td data-title="'Version'" sortable="'version'" class="searchResultsTableTd" width="7%">
                            {{result.version}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- =============================================================================== -->
        <!-- The search tab views - this handled by the cde module and its sub-modules. ==== -->

        <div class="views">
            <div class="tab" ng-show="!searchFactory.showSearch">{{title}}</div>
            <div ng-class="{cdeSearchTabsView:searchFactory.showSearch,body:!searchFactory.showSearch}" data-ng-view></div>
        </div>

        <!-- =============================================================================== -->


        <div id="footer" ng-init="focused=false">
            <table>
                <tr>
                    <td ng-if="authenticationService.userName!=''">
                        User: <span class="userName">{{authenticationService.userName}}</span>
                    </td>
                    <td>
                        <a href="https://wiki.nci.nih.gov/x/qxEhAQ" target="_blank">Privacy Notice</a>
                    </td>
                    <td title="Version: {{versionPopover.version}}&#10;SMC Tag: {{versionPopover.tag}}&#10;SMC Date: {{versionPopover.scm_date}}&#10;System Tier: {{versionPopover.tier}}">

                        <a data-ng-click="versionDisplay(versionPopover.version, versionPopover.tag, versionPopover.scm_date, versionPopover.tier)" >
                            Version {{versionPopover.version}} &nbsp; Build {{versionPopover.shortBuildVersion}}
                        </a>
                    </td>
                    <td class="last">Please send comments and suggestions to <a href="mailto:ncicbiit@mail.nih.gov">ncicbiit@mail.nih.gov</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <!-- =============================================================================== -->
</div>
</div>


<!--
<script src='libs/angular.min.js'></script>
-->

<script src='libs/angular.min.js'></script>
<script src='libs/angular-resource.min.js'></script>
<script src='libs/angular-animate.min.js'></script>
<script src='libs/angular-route.min.js'></script>
<script src='libs/angular-sanitize.min.js'></script>
<script src='libs/ngStorage.min.js'></script>
<script src="libs/jquery.min.js"></script>
<script src="libs/jquery-ui.min.js"></script>

<script src="app.js"></script>
<script src='cdeBrowserClient.js'></script>
<script src="cdeBrowserProperties.js"></script>
<script src="directives/treeModel.js"></script>
<script src="directives/resize.js"></script>
<script src="plugins/ng-table/ng-table.min.js"></script>
<script src='libs/ui-select/select.js'></script>
<script src='libs/angular-drag-and-drop-lists.min.js'></script>
<script src='libs/ui-select-with-tree-navigation/index.js'></script>
<script src='libs/ui-select-with-tree-navigation/index1.js'></script>
<script src='libs/ui-select-with-tree-navigation/lodash.min.js'></script>
<script src='libs/ui-bootstrap-tpls-2.5.0.min.js'></script>
<script src='plugins/angular-dragdrop.min.js'></script>

<script src="cde/cde.js"></script>
<script src="cde/adminInfo/cde-adminInfo.js"></script>
<script src="cde/classifications/cde-classifications.js"></script>
<script src="cde/dataElement/cde-dataElement.js"></script>
<script src="cde/dataElementConcept/cde-dataElementConcept.js"></script>
<script src="cde/dataElementDerivation/cde-dataElementDerivation.js"></script>
<script src="cde/usage/cde-usage.js"></script>
<script src="cde/valueDomain/cde-valueDomain.js"></script>
<script src="cde/valueMeaning/cde-valueMeaning.js"></script>
<script src="cde/genericSearch/cde-genericSearch.js"></script>
<script src="cde/advancedSearch/cde-adavancedSearch.js"></script>
<script src="cde/publicIdSearch/cde-publicIdSearch.js"></script>
<script src="cde/searchPreferences/cde-searchPreferences.js"></script>
<script src="cde/cdeCart/cde-cart.js"></script>
<script src="cde/cdeCompare/cde-compare.js"></script>
<script src="cde/authentication/cde-login.js"></script>
<script src="services/compareService.js"></script>
<script src="services/searchFactory.js"></script>
<script src="services/cartService.js"></script>
<script src="services/filterService.js"></script>
<script src="services/authenticationService.js"></script>
<script src="services/downloadFactory.js"></script>

<!-- Google Analytics code to track each HTML page -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85797083-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
