<!DOCTYPE html>
<html>
<head>
    <title>CDE Browser 5.1</title>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="plugins/ng-table/ng-table.min.css">
    <link rel="stylesheet" type="text/css" href="css/cdeBrowserClient.css">
    <link rel="stylesheet" type="text/css" href="css/treeMenu.css">
    <link rel="stylesheet" type="text/css" href="css/tabMenu.css">
    <link rel="stylesheet" type="text/css" href="css/basicSearchResults.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/select2.css">
    <link rel="stylesheet" type="text/css" href="cde/cde.css">
    <link rel="stylesheet" type="text/css" href="libs/ui-select/select.css">

</head>
<body>
<!-- =============================================================================== -->

<!-- ************ Top header with NCI logo ************ -->
<div class="top-left-logo">
    <a href="http://www.cancer.gov/" target="_blank">
        <img alt="National Cancer Institute, Center for Biomedical Infomatics & Information Technology."
             src="icons/CBIIT-36px-Logo-COLOR_contrast.png">
    </a>
</div>

<div class="top-center-logo">
    <img alt="CDE Browser Logo" src="icons/cdeBrowserLogo.png">
</div>

<div class="top-right-logo">
    <a href="http://www.cancer.gov/" target="_blank">
        <span>U.S. National Institutes of Health</span>
    </a>
</div>

<!-- ********************************************************************** -->
<!-- ********************* Start of AngularJS control ********************* -->
<!-- ********************************************************************** -->

<div data-ng-app="cdeBrowserApp" data-ng-controller="cdeBrowserController" data-ng-cloak class="data-ng-cloak">

    <!-- ************ Second row at top - caDSR logo, CDE Browser logo, four round buttons ************ -->
    <div class="top2-left-logo">
        <a href="http://cbiit.nci.nih.gov/ncip/biomedical-informatics-resources/interoperability-and-semantics/metadata-and-models"
           target="_blank">
            <img alt="CADSR logo" src="icons/caDSR_logo2_contrast.png">
        </a>
    </div>
    <!-- Admin Tool, Curation Tool, NCI Metathesaurus, NCI Terminology Server, Sentinel Tool, What's new, Available Downloads -->
    <div class="top2-center-logo">
    <span>
        <a class="toolLinks" href="{{admintoolToolHost}}" target="_blank">
            Admin Tool
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="{{curationToolHost}}" target="_blank">
            Curation Tool
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="http://ncim.nci.nih.gov/ncimbrowser" target="_blank">
            NCI Metathesaurus
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="http://ncit.nci.nih.gov/ncitbrowser/start.jsf" target="_blank">
            NCI Terminology Server
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="{{sentinelToolHost}}" target="_blank">
            Sentinel Tool
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="https://wiki.nci.nih.gov/x/egAxEQ" target="_blank">
            What's new
        </a>&nbsp;
    </span>
    <span>
        <a class="toolLinks" href="https://wiki.nci.nih.gov/x/AbH9AQ" target="_blank">
            Available Downloads
        </a>&nbsp;
    </span>
    </div>

    <!-- ** Four round buttons **  -->
    <div class="top2-right-logo">
        <table Cellpadding=3 Cellspacing=0>
            <tr>
                <td class="roundButton" valign="TOP" align="CENTER" colspan=1>
                    <span class="cart">
                        <span class="cartCount" ng-show="cartService.cartData.length">
                            <span>{{cartService.cartData.length}}</span>
                        </span>
                        <a href ng-click="changeLocation('/cdeCart')" target="_top">
                            <img src="icons/buttonIconSet/brown/75_percent/circle_shopping_cart.png"
                             alt="CDE Cart button" />
                            <br>
                            <span> &nbsp;CDE&nbsp;Cart</span>
                        </a>
                    </span>
                </td>
                <td class="roundButton" valign="TOP" align="CENTER" colspan=1>
                    <a href="cdebrowserClient/cdeBrowser.html" target="_top">
                        <img src="icons/buttonIconSet/brown/75_percent/circle_home.png"
                             alt="CDE Browser Home button"
                                />
                        <br>
                        &nbsp;Home&nbsp;
                    </a>
                </td>

                <td class="roundButton" valign="TOP" align="CENTER" colspan=1>
                    <a href="{{formbuilderToolHost}}/FormBuilder/formSearchAction.do"
                       target="_blank">
                        <img src="icons/buttonIconSet/brown/75_percent/circle_form.png"
                             alt="Form Builder button"
                                />
                        <br>
                        &nbsp;FormBuilder&nbsp;
                    </a>
                </td>

                <td class="roundButton" valign="TOP" align="CENTER" colspan=1>
                    <a href="https://wiki.nci.nih.gov/x/toFSEg"
                       target="_blank">
                        <img src="icons/buttonIconSet/brown/75_percent/circle_help.png"
                             alt="CDE Browser User Guide button"
                                />
                        <br>
                        &nbsp;Help&nbsp;
                    </a>
                </td>
            </tr>
        </table>
    </div>


    <!-- ************ Status message at top ************ -->
    <div data-ng-class="{
             normMessage: messageClass == cssClasses['NORMAL'],
             bigMessage: messageClass == cssClasses['BIG'],
             errorMessage: messageClass == cssClasses['ERROR']
             }">
        <span data-ng-bind-html-unsafe="waitMessage">{{waitMessage}}</span>
    </div>

    <!-- ************ Program Area The tabs across the top  ************ -->
    <div class="topTabPos">
        <ul>
            <!--
                Just getting the parent top level nodes for the top tabs, nodeNumber is counter,
                node is the actual node, we just need the text for the tabs.
            -->
            <div data-ng-repeat="(nodeNumber, node) in contextListMaster">

                 <li id="top_tabs"
                    data-ng-class="{
                        tabActive: isActiveTab(nodeNumber),
                        tabNormal: (! isActiveTab(nodeNumber))
                        }"
                    data-ng-click="onClickTab(nodeNumber)">
                    &nbsp;{{node.text}}&nbsp;
                </li>

            </div>
        </ul>
    </div>
    <br>
    <div class="topTabSeparator" ng-show="waitMessage==''"></div>

    <!-- tree menu(s) for each tab.  Each tree is there, but we only show the one for the selected tab -->
    <!--  contextListMaster[nodeNumber].children is entire tree for each parent node.  -->
    <div data-ng-repeat="(nodeNumber, node) in contextListMaster">

        <div class="treeMenu" data-ng-show=show[nodeNumber]
             data-ng-style="resizeHeight()"
             resize
             notifier="notifyServiceOnChange(params)">

            <div class="tabCaptionWrapper cssFade" data-ng-show=show[nodeNumber]>
                <div data-ng-repeat="(nodeNumber, node) in contextListMaster">
                    <div class="tabCaption" data-ng-show=show[nodeNumber]>{{node.hover}}</div>
                </div>
            </div>

            <div class="cssFade" data-ng-show=show[nodeNumber]
                 data-cdebrowser-treeview="true"
                 data-tree-id="tree"
                 data-tree-model="contextListMaster[nodeNumber].children"
                 data-node-action="href"
                 data-node-childType="childType"
                 data-node-isParent="isParent"
                 data-node-type="type"
                 data-node-label="text"
                 data-node-hover="hover"
                 data-node-children="children">
            </div>
        </div>
    </div>

    <!-- =============================================================================== -->
    <!--  Right side,  search and search results.  -->
    <div class="resultsDisplay" data-ng-controller="cdeCtrl" data-ng-cloak class="ng-cloak" data-ng-show="initComplete"
         data-ng-style="resizeHeight()"
         resize
         notifier="notifyServiceOnChange(params)">
        <div label="search area" ng-show="searchFactory.showSearch">
        <!-- generate tabs for search, advanced search and search preferences -->
        <div class="cdeSearchTabs">
            <ul class="cdeTabsUl">
                <button class="cdeTabsLi" ng-repeat="tab in searchTabs track by $index" data-ng-class="{tabActive: activeSearchTab==$index}" ng-click="changeSearchTab($index)" ng-disabled="tab.disabled">
                    {{tab.title}}
                </button>
            </ul>
        </div>  
        <!-- end generate tabs -->
        <!-- display proper view based on tab selected -->     
        <div id="cdeSearchArea">
            <div class="view" ng-include="'cde/genericSearch/genericSearch-view.html'" ng-show="activeSearchTab==0">
                This is the generic search pane.
            </div>   
            <div class="view" ng-include="'cde/publicIdSearch/publicIdSearch-view.html'" ng-show="activeSearchTab==1">
                This is the public id search pane. The default search.
            </div>     
            <div class="view" ng-include="'cde/advancedSearch/advancedSearch-view.html'" ng-show="activeSearchTab==2">
                This is the advanced search pane.
            </div>
            <div class="view" ng-include="'cde/searchPreferences/searchPreferences-view.html'" ng-show="activeSearchTab==3">
                This is the search preferences pane.
            </div> 
            <div class="filters" ng-show="activeSearchTab==0" ng-disabled="true">
                <span>
                <ui-select id="programArea" ng-disabled="filterService.isSearching" ng-change="filterService.resetContext()" theme="bootstrap" ng-model="filterService.searchFilter.programArea">
                    <ui-select-match placeholder="Select a Program Area">{{$select.selected.text}}</ui-select-match>
                    <ui-select-choices repeat="value.programArea as value in filterService.serverData | filter: $select.search">
                        <div ng-bind-html="value.text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>    
                </span>
                <span>
                <ui-select id="context" ng-change="contextSearch($select.selected)" ng-disabled="filterService.isSearching" theme="bootstrap" ng-model="filterService.searchFilter.context">
                    <ui-select-match allow-clear="true" placeholder="Select a Context">{{$select.selected.text}}</ui-select-match>
                    <ui-select-choices repeat="value.idSeq as value in filterService.serverData[filterService.searchFilter.programArea].children | filter: $select.search">
                        <div ng-bind-html="value.text | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>     
                </span>

                <span>
                <ui-select id="classification" ng-disabled="filterService.isSearching||filterService.searchFilter.protocol" theme="bootstrap" ng-model="filterService.searchFilter.classification">
                    <ui-select-match allow-clear="true" placeholder="Select a Classification">{{$select.selected.csLongName}}</ui-select-match>
                    <ui-select-choices repeat="value.csIdSeq as value in filterService.classifications | filter: $select.search">
                        <div ng-bind-html="value.csLongName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>     
                </span>

                <span>
                <ui-select id="protocol" ng-disabled="filterService.isSearching||filterService.searchFilter.classification" theme="bootstrap" ng-model="filterService.searchFilter.protocol">
                    <ui-select-match allow-clear="true" placeholder="Select a Protocol">{{$select.selected.protocolLongName}}</ui-select-match>
                    <ui-select-choices repeat="value.protocolIdSeq as value in filterService.protocols | filter: $select.search">
                        <div ng-bind-html="value.protocolLongName | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>     
                </span>
                <span>
                <ui-select id="registrationStatus" ng-disabled="filterService.isSearching" theme="bootstrap" ng-model="filterService.searchFilter.registrationStatus">
                    <ui-select-match allow-clear="true" placeholder="Select a Registration Status">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="value as value in staticFilters.registrationStatusFilter | filter: $select.search">
                        <div ng-bind-html="value | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>     
                </span>

                <span>
                <ui-select id="workflowStatus" ng-disabled="filterService.isSearching" theme="bootstrap" ng-model="filterService.searchFilter.workFlowStatus">
                    <ui-select-match allow-clear="true" placeholder="Select a Workflow Status">{{$select.selected}}</ui-select-match>
                    <ui-select-choices repeat="value as value in  staticFilters.workflowStatusFilter | filter: $select.search">
                        <div ng-bind-html="value | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>     
                </span>
                <!-- <span>{{filterService.searchFilter}}</span> -->
                <span>
                    <button ng-disabled="filterService.isSearching" label="Reset Filters" ng-click="resetFilters()">Clear</button>
                </span>
                          
            </div>
        </div>              
        <!-- end display proper view based on tab selected -->
        <br ng-show="searchResults.length" />
        <!-- start Download Buttons -->
        <span ng-show="searchResults.length">
            <ul class="cdeDownloadButtons">
                <li>
                    <button label="Download To Excel" data-ng-click="downloadToExcel()" ng-disabled="!checkedItemsForDownload.length">
                        Download to Excel
                    </button>
                </li>
                <li>
                    <button label="Download to Prior Excel" data-ng-click="downloadToExcel('prior')" ng-disabled="!checkedItemsForDownload.length">
                        Download to Prior Excel
                    </button>
                </li>    
                <li>
                    <button label="Download Data Elements as XML" data-ng-click="downloadToXML()" ng-disabled="!checkedItemsForDownload.length">
                        Download Data Elements as XML
                    </button>
                </li> 
                <li>
                    <button label="Add to CDE Cart" ng-click="addCDE()" ng-disabled="!checkedItemsForDownload.length">
                        Add to CDE Cart
                    </button> 
                </li>                       
            </ul>
            <!-- show progress bar -->
            <ul ng-show="progressMessage.status" class="cdeProgressMessage">
                <li>
                    {{progressMessage.message}}
                </li>
                <li ng-show="!progressMessage.isErrorMessage">
                    <img alt="Exporting File" src="icons/preloader.gif">
                </li>                
            </ul>
            <!-- end show progress bar -->
        </span>
        <!-- end Download Buttons -->
        <!-- <br /> -->
        <!-- Search status message -->
        <span ng-show="searchResultsMessage&&searchResultsMessage!=''" data-ng-bind-html-unsafe="searchResultsMessage" data-ng-class="{
             bigSearchResultsMessage: bigSearchResultsMessageClass,
             normSearchResultsMessage: (! bigSearchResultsMessageClass)
             }">
            <!-- {{searchResultsMessage}} -->

                        <ul ng-show="searchResultsMessage" class="cdeSearchMessage">
                <li>
                    {{searchResultsMessage}}
                </li>
                <li>
                    <img alt="Searching" src="icons/preloader.gif">
                </li>                
            </ul>
        </span>

        <div data-ng-bind-html-unsafe="statusMessage">
            {{statusMessage}}
        </div>


        <!--  Bread Crumbs  -->
        <div class="breadCrumbs">
            <span data-ng-show="breadCrumbs">
                <span data-ng-repeat="b in breadCrumbs">
                    {{b}}<span data-ng-show="!$last"> >></span>
                </span><br/>
            </span>
        </div>


        <!-- the search results tabs and content below -->
        <div class="cdeTabs">
            <ul class="cdeTabsUl">

                <button class="cdeTabsLi"
                        data-ng-disabled="tabsDisabled && tabNumber"
                        id="tab_" + tabNumber
                        data-ng-repeat="(tabNumber,tab) in tabs"
                        data-ng-class="{
                        tabActive:   isActiveCdeTab(tabNumber),
                        tabNormal:   ( ( ! cdeTabHasFocus[tabNumber] ) && ( ! isActiveCdeTab( tabNumber ) ) ),
                        tabDisabled: ( tabsDisabled && tabNumber) ,
                        tabFocused:  ( ( cdeTabHasFocus[tabNumber] ) && ( ! isActiveCdeTab( tabNumber ) ) )
                        }"
                        data-ng-blur="lostFocus(tabNumber)"
                        data-ng-focus="gotFocus(tabNumber)"
                        data-ng-click="changeView(tabNumber,tab)">{{tab.title}}
                </button>


            </ul>
        </div>

        <!-- =============================================================================== -->
        <!-- The search results tab with Search results table - this is the only tab that is not an data-ng-view ========== -->
        <div id="searchResults" class="cdeSearchTabsView" data-ng-show=showCdeSearchResults>
            <div class="sortOrder">
                <div data-ng-class="{left:searchResultsCount,leftFull:!searchResultsCount}">
                    <span class="row">
                        <ul>
                            <li>Sort Order:</li>
                            <li ng-repeat="item in sortOrderObject.items">
                                {{item}} <span class="separator" ng-if="!$last">>> </span>
                            </li>
                            <li>[{{sortOrderObject.sortDirection}}]</li>
                        </ul>
                    </span>
                    <span class="row"><a href="#" data-ng-click="resetSortOrder()">Reset Sort Order</a></span>
                </div>
                <div class="right">
                    <span class="row">
                        <span ng-show="filteredData.length">Results: {{filteredData.length}}</span>
                        <span ng-show="!filteredData.length">No search results</span>
                    </span>
                    <span class="row">
                        <div data-ng-table-pagination="tableParams" template-url="'plugins/ng-table/pager.html'"></div>
                    </span>
                </div>                
            </div>

            <script type="text/ng-template" id="ng-table/headers/checkbox.html">
                <input type="checkbox" data-ng-model="checkboxes.checked" id="select_all" name="filter-checkbox"
                       value=""/>
            </script>

            <table data-ng-table="tableParams" show-filter="false" class="searchResultsTable" ng-show="filteredData.length">
                <tr class="searchResultsTableTr" data-ng-repeat="result in $data track by $index">
                    <td header="'ng-table/headers/checkbox.html'">
                        <input type="checkbox" data-ng-model="checkboxes.items[result.deIdseq]" ng-click="">
                    </td>

                    <td data-title="'Long Name'" sortable="'longName'" class="searchResultsTableTd" width="15%">


                        <a class="searchResultsLink" href="" data-ng-click="onClickCdeDetails(result.deIdseq)">{{result.longName}} </a>
                    </td>
                    <td data-title="'Preferred Question Text'" sortable="'preferredQuestionText'"
                        class="searchResultsTableTd" width="17%">{{result.preferredQuestionText}}
                    </td>
                    <td data-title="'Owned By'" sortable="'ownedBy'" class="searchResultsTableTd" width="10%">
                        {{result.ownedBy}}
                    </td>
                    <td data-title="'Used By Context'" sortable="'usedByContext'" class="searchResultsTableTd"
                        width="14%">{{result.usedByContext}}
                    </td>
                    <td data-title="'Registration Status'" sortable="'registrationSort'" class="searchResultsTableTd"
                        width="14%">{{result.registrationStatus}}
                    </td>
                    <td data-title="'Workflow Status'" sortable="'workflowSort'" class="searchResultsTableTd"
                        width="14%">{{result.workflowStatus}}
                    </td>
                    <td data-title="'Public ID'" sortable="'publicId'" class="searchResultsTableTd" width="10%">
                        {{result.publicId}}
                    </td>
                    <td data-title="'Version'" sortable="'version'" class="searchResultsTableTd" width="7%">
                        {{result.version}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
        <!-- =============================================================================== -->
        <!-- The search tab views - this handled by the cde module and its sub-modules. ==== -->
        
        <div class="views">
            <div class="tab" ng-show="!searchFactory.showSearch">{{title}}</div>
            <div ng-class="{cdeSearchTabsView:searchFactory.showSearch,body:!searchFactory.showSearch}" data-ng-view></div>
        </div>
        
        <!-- =============================================================================== -->


        <div id="footer" ng-init="focused=false">
            <table>
                <tr>
                    <td>User: <span class="userName">Public User</span></td>
                    <td>
                        <a href="https://wiki.nci.nih.gov/x/qxEhAQ" target="_blank">Privacy Notice</a>
                    </td>
                    <td title="Version: {{versionPopover.version}}&#10;SMC Tag: {{versionPopover.tag}}&#10;SMC Date: {{versionPopover.scm_date}}&#10;System Tier: {{versionPopover.tier}}">

                        <a data-ng-click="versionDisplay(versionPopover.version, versionPopover.tag, versionPopover.scm_date, versionPopover.tier)" >
                            Version {{versionPopover.version}} &nbsp; Build {{versionPopover.shortBuildVersion}}
                        </a>
                    </td>
                    <td class="last">Please send comments and suggestions to <a href="mailto:ncicbiit@mail.nih.gov">ncicbiit@mail.nih.gov</a>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <!-- =============================================================================== -->

</div>


<script src='libs/angular.min.js'></script>
<script src='libs/angular-resource.min.js'></script>
<script src='libs/angular-animate.min.js'></script>
<script src='libs/angular-route.min.js'></script>
<script src='libs/angular-sanitize.min.js'></script>
<script src='libs/ngStorage.min.js'></script>
<script src="app.js"></script>
<script src='cdeBrowserClient.js'></script>
<script src="cdeBrowserProperties.js"></script>
<script src="directives/treeModel.js"></script>
<script src="directives/resize.js"></script>
<script src="filters/customFilter.js"></script>
<script src="plugins/ng-table/ng-table.min.js"></script>
<script src='libs/ui-select/select.js'></script>

<script src="cde/cde.js"></script>
<script src="cde/adminInfo/cde-adminInfo.js"></script>
<script src="cde/classifications/cde-classifications.js"></script>
<script src="cde/dataElement/cde-dataElement.js"></script>
<script src="cde/dataElementConcept/cde-dataElementConcept.js"></script>
<script src="cde/dataElementDerivation/cde-dataElementDerivation.js"></script>
<script src="cde/usage/cde-usage.js"></script>
<script src="cde/valueDomain/cde-valueDomain.js"></script>
<script src="cde/genericSearch/cde-genericSearch.js"></script>
<script src="cde/publicIdSearch/cde-publicIdSearch.js"></script>
<script src="cde/cdeCart/cde-cart.js"></script>
<script src="services/searchFactory.js"></script>
<script src="services/cartService.js"></script>
<script src="services/filterService.js"></script>

</body>
</html>
