<div id="cdeCart">
	<div style="padding-top:5px">
		<span class="headerText">Note: Displays CDEs in the cart. Click Retrieve Saved button to retreive cart elements saved previously. More CDEs can be added to the cart by clicking Add More Data Elements button. Checking the checkbox(es) under Delete column and clicking Delete button will delete the CDE(s) from the cart.</span>
		<table class="searchResultsTable ng-table" ng-show="cartService.cartData.length">
			<thead>
				<tr>
					<th class="header">Saved</th>
					<th class="header">Delete<input type="checkbox" name="extra" ng-disabled="!cartService.cartData.length" ng-model="cartService.checkedCartItems.selected" ng-change="selectAll()"></th>
					<th class="header">Long Name</th>
					<th class="header">Preferred Question Text</th>
					<th class="header">Owned By</th>
					<th class="header">Used By Context</th>
					<th class="header">Registration Status</th>
					<th class="header">Workflow Status</th>
					<th class="header">Public ID</th>
					<th class="header">Version</th>
				</tr>
			<tbody>
				<tr class="searchResultsTableTr" ng-repeat="item in cartService.cartData track by $index">
					<td class="searchResultsTableTd">
						<span ng-if="item['unsavedItem']==false">
							X
						</span>
					</td>
					<td class="searchResultsTableTd selectBox">
						<input type="checkbox" name="checkedCartItems" ng-change="checkCartItem(item.deIdseq)" ng-model="cartService.checkedCartItems.items[item.deIdseq]">
					</td>
					<td class="searchResultsTableTd">{{item.longName}}</td>
					<td class="searchResultsTableTd">{{item.preferredQuestionText}}</td>
					<td class="searchResultsTableTd">{{item.ownedBy}}</td>
					<td class="searchResultsTableTd">{{item.usedByContext}}</td>
					<td class="searchResultsTableTd">{{item.registrationStatus}}</td>
					<td class="searchResultsTableTd">{{item.workflowStatus}}</td>
					<td class="searchResultsTableTd">{{item.publicId}}</td>
					<td class="searchResultsTableTd">{{item.version}}</td>
				</tr>
			</tbody>
			</thead>
		</table>	
	</div>
	<div ng-hide="cartService.cartData.length" class="emptyCart">
		CDE Cart is empty.
	</div>
	<div style="padding-top:5px">
		<button ng-click="saveCart()" ng-show="cartService.cartData.length">Save Cart</button>
		<button ng-click="deleteCDEs()" ng-show="cartService.cartData.length">Delete</button>
		<button ng-click="retrieveCart()">Retrieve Saved </button>
		<button ng-click="goBack()">Return to Search</button>			
	</div>
</div>