<div id="cdeCompare">
	<div>
    <div id="mainDiv" style="position:relative;top:0">
        <div class="compareCDEDataElementDetailsHeading" ng-hide="compareDataDoneLoading" align="center">
            Loading CDE data <img alt="Loading CDE Compare data" src="icons/preloader.gif">
        </div>
    </div>
	<!-- <div ng-hide="compareService.compareData.length" class="emptyCompare">
 		CDE Compare List is empty.
	</div> -->
	<div style="padding-bottom:5px">
		<button ng-disabled="compareService.checkedCompareItemsLength()" ng-click="excelDownload()">Excel Download</button>
		<button ng-click="goBack()">Return to Search</button>
	</div>

	<div class="compareScreenAnchors">
    <span>
        <a ng-click="goTo('dataElement')">
            Data Element
        </a>&nbsp;
    </span>
        <span>
        <a ng-click="goTo('dataElementConcept')">
            Data Element Concept
        </a>&nbsp;
    </span>
    <span>
        <a ng-click="goTo('referenceDocuments')">
            Reference Documents
        </a>&nbsp;
    </span>
    <span>
        <a ng-click="goTo('valueDomain')">
            Value Domain
        </a>&nbsp;
    </span>
    <span>
        <a ng-click="goTo('permissibleValues')">
            Permissible Values
        </a>&nbsp;
    </span>
    <span>
        <a ng-click="goTo('classifications')">
            Classifications
        </a>&nbsp;
    </span>
    <span>
        <a ng-click="goTo('derivationDetails')">
            Derivation Details
        </a>&nbsp;
    </span>
    <span>
        <a ng-click="goTo('componentDataElements')">
            Component Data Elements
        </a>&nbsp;
    </span>
    </div>

        <div id="dataElement" class="compareCDEDataElementDetailsHeading">
            Data Element <img src="icons/minus.png" alt="collapse" class="compareScreenExpandCollapse" ng-click="dataElement=!dataElement" ng-show="!dataElement"><img src="icons/plus.png" alt="expand" class="compareScreenExpandCollapse" ng-click="dataElement=!dataElement" ng-hide="!dataElement">
        </div>
        <div class="compareScreenTip" ng-show="!dataElement"><strong>Tip</strong>: Use the mouse to change the order (drag and drop) of the CDEs.
        </div>

        <!-- <table  class="compareCDEDataElementDetailsTable advancedDemo" ng-show="!dataElement"> -->
        <!-- <td ng-repeat="item in cdeDetails" data-drop="true" ng-model='cdeDetails' dnd-draggable="item" dnd-type="'itemType'" dnd-effect-allowed="copyMove">
                    <div>
                <td ng-repeat="item in cdeDetails" data-drop="true"
                ng-model='cdeDetails' dnd-draggable="item"
                dnd-type="'itemType'"
                dnd-effect-allowed="copyMove">
                    <div> -->

        <table  class="compareCDEDataElementDetailsTable" ng-show="!dataElement">
            <tr>
                <td>CDE:
                    <img src="icons/delete.png" alt="delete all CDEs" class="compareScreenDelete" ng-click="deleteAllCDEs()">
                </td>
                <td ng-repeat="item in cdeDetails" data-drop="true" ng-model='cdeDetails' jqyoui-droppable="{index: {{$index}}}">
                    <div class="thumbnail" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="cdeDetails" jqyoui-draggable="{index: {{$index}},animate:true}">
                       {{$index + 1}}
                       <img src="icons/delete.png" alt="delete CDE" class="compareScreenDelete" ng-click="deleteCDE(item.id,$index)">
                    </div>
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Public ID:</td>
                <td class="compareDataElementValue dataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null">
                    {{data.dataElement.dataElementDetails.publicId}}
                </td>
                <td rowspan="12" class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-show="data.dataElement.dataElementDetails==null">
                    No data found
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Version</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null">
                    {{data.dataElement.dataElementDetails.formattedVersion}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Long Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null" ng-bind-html="data.dataElement.dataElementDetails.longName">
                    {{data.dataElement.dataElementDetails.longName}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Short Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null" ng-bind-html="data.dataElement.dataElementDetails.shortName">
                    {{data.dataElement.dataElementDetails.shortName}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Preferred Question Text:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null" ng-bind-html="data.dataElement.dataElementDetails.preferredQuestionText">
                    {{data.dataElement.dataElementDetails.preferredQuestionText}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Definition:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null" ng-bind-html="data.dataElement.dataElementDetails.definition">
                    {{data.dataElement.dataElementDetails.definition}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Value Domain:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null">
                    {{data.dataElement.dataElementDetails.valueDomain}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Data Element Concept:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null">
                    {{data.dataElement.dataElementDetails.dataElementConcept}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Context:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null">
                    {{data.dataElement.dataElementDetails.context}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Workflow Status:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null">
                    {{data.dataElement.dataElementDetails.workflowStatus}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Origin:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null">
                    {{data.dataElement.dataElementDetails.origin}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Registration Status:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElement.dataElementDetails==null">
                    {{data.dataElement.dataElementDetails.registrationStatus}}
                </td>
            </tr>
        </table>
        <br>


        <div id="dataElementConcept" class="compareCDEDataElementDetailsHeading">
            Data Element Concept <img src="icons/minus.png" alt="collapse" class="compareScreenExpandCollapse" ng-click="dataElementConcept=!dataElementConcept" ng-show="!dataElementConcept"><img src="icons/plus.png" alt="expand" class="compareScreenExpandCollapse" ng-click="dataElementConcept=!dataElementConcept" ng-hide="!dataElementConcept">
        </div>
        <table class="compareCDEDataElementDetailsTable" ng-show="!dataElementConcept">
            <tr>
                <td>CDE:</td>
                <td ng-repeat="(element, data) in cdeDetails">{{element + 1}}</td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="compareDataElementDescription dataElementDescription">Public ID:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.publicId}}
                </td>
                <td rowspan="13" class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-show="data.dataElementConcept.dataElementConceptDetails==null">
                    No data found
                </td>
            </tr>
            <!--  <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Version:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.formattedVersion}}
                </td>
            </tr>  -->
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Long Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.longName}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Short Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.shortName}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Definition:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null" ng-bind-html="data.dataElementConcept.dataElementConceptDetails.definition">
                    {{data.dataElementConcept.dataElementConceptDetails.definition}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Context:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.context}}
                </td>
            </tr>            
            <!-- <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Public ID:</td>
                <td class="compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.publicId}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Conceptual Domain Public ID:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.conceptualDomainPublicId}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Conceptual Domain Short Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null" ng-bind-html="data.dataElementConcept.dataElementConceptDetails.conceptualDomainShortName">
                    {{data.dataElementConcept.dataElementConceptDetails.conceptualDomainShortName}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Conceptual Domain Context Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.conceptualDomainContextName}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Conceptual Domain Version:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.formattedConceptualDomainVersion}}
                </td>
            </tr> -->
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Conceptual Domain Long Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null" ng-bind-html="data.dataElementConcept.dataElementConceptDetails.conceptualDomainLongName">
                    {{data.dataElementConcept.dataElementConceptDetails.conceptualDomainLongName}}
                </td>
            </tr>
		    <tr class="dataElementViewTableTr">
		        <td class="dataElementDescription compareDataElementDescription">Object Class Public ID:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.objectClass.publicId}}
                </td>                		        
		    </tr>
		    <tr class="dataElementViewTableTr">
		        <td class="dataElementDescription compareDataElementDescription">Object Class Version:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.objectClass.formattedVersion}}
                </td>                		        
		    </tr>                        		                            
		    <tr class="dataElementViewTableTr">
		        <td class="dataElementDescription compareDataElementDescription">Object Class Long Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.objectClass.longName}}
                </td>                		        
		    </tr>
		    <tr class="dataElementViewTableTr">
		        <td class="dataElementDescription compareDataElementDescription">Object Class Codes:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                   <span data-ng-repeat="elements in data.dataElementConcept.objectClassConcepts" >
               			<a style="text-decoration: underline !important;" TARGET="_blank"
                		href="https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code={{elements.conceptCode}}">{{elements.conceptCode}}</a><span ng-show="!$first && $last">(Primary)</span><span ng-show="!$last">&nbsp;:</span>
                   </span>
                </td>
		    </tr>		    
		    <tr class="dataElementViewTableTr">
		        <td class="dataElementDescription compareDataElementDescription">Object Class Names:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                   <span data-ng-repeat="elements in data.dataElementConcept.objectClassConcepts" >
               			{{elements.conceptName}}<span ng-show="!$first && $last">(Primary)</span><span ng-show="!$last">&nbsp;:</span>
                   </span>
                </td>
		    </tr>
		    <tr class="dataElementViewTableTr">
		        <td class="dataElementDescription compareDataElementDescription">Property Public ID:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.property.publicId}}
                </td>                		        
		    </tr>
		    <tr class="dataElementViewTableTr">
		        <td class="dataElementDescription compareDataElementDescription">Property Version:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.property.formattedVersion}}
                </td>                		        
		    </tr>                        		    		    		    
		    <tr class="dataElementViewTableTr">
		        <td class="dataElementDescription compareDataElementDescription">Property Long Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.property.longName}}
                </td>
		    </tr>
		    <tr class="dataElementViewTableTr">
		        <td class="dataElementDescription compareDataElementDescription">Property Codes:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">                   
                   <span data-ng-repeat="elements in data.dataElementConcept.propertyConcepts" >
               			<a style="text-decoration: underline !important;" TARGET="_blank"
                		href="https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code={{elements.conceptCode}}">{{elements.conceptCode}}</a><span ng-show="!$first && $last">(Primary)</span><span ng-show="!$last">&nbsp;:</span>
                   </span>
                </td>
		    </tr>	
		    <tr class="dataElementViewTableTr">
		        <td class="dataElementDescription compareDataElementDescription">Property Names:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">                   
                   <span data-ng-repeat="elements in data.dataElementConcept.propertyConcepts" >
               			{{elements.conceptName}}<span ng-show="!$first && $last">(Primary)</span><span ng-show="!$last">&nbsp;:</span>
                   </span>
                </td>
		    </tr>			    
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Origin:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.origin}}
                </td>
            </tr>	
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Workflow Status:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.dataElementConcept.dataElementConceptDetails==null">
                    {{data.dataElementConcept.dataElementConceptDetails.workflowStatus}}
                </td>
            </tr>            	    	    		    
        </table>


        <br>
        <div id="referenceDocuments" class="compareCDEDataElementDetailsHeading">
            Reference Documents <img src="icons/minus.png" alt="collapse" class="compareScreenExpandCollapse" ng-click="referenceDocuments=!referenceDocuments" ng-show="!referenceDocuments"><img src="icons/plus.png" alt="expand" class="compareScreenExpandCollapse" ng-click="referenceDocuments=!referenceDocuments" ng-hide="!referenceDocuments">
        </div>
        <table ng-show="!referenceDocuments">
            <tr>
                <td valign="top" ng-repeat="(element, data) in cdeDetails">

                    <table class="compareCDEDataElementDetailsTable">
                        <tr>
                            <td>{{element + 1}}</td>
                        </tr>
                        <tr>
                            <td class="dataElementHeading compareDataElementColumn0">Document Name</td>
                            <td class="dataElementHeading compareDataElementColumn0">Document Type</td>
                            <td class="dataElementHeading compareDataElementColumn0">Document Text</td>
                        </tr>
                        <tr class="dataElementViewTableTr"
                            ng-repeat="(element1, data1) in data.dataElement.referenceDocuments | orderBy:['documentType','documentName']">
                            <td class="dataElementValue compareDataElementColumn0" ng-bind-html="data1.documentName">{{data1.documentName}}</td>
                            <td class="dataElementValue compareDataElementColumn0" ng-bind-html="data1.documentType">{{data1.documentType}}</td>
                            <td class="dataElementValue compareDataElementColumn0" ng-bind-html="data1.documentText">{{data1.documentText}}</td>
                        </tr>
                        <tr  class="dataElementViewTableTr" ng-show="data.dataElement.referenceDocuments==null">
                            <td colspan="3" style="text-align:center">No data found</td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>


        <br>


        <div id="valueDomain" class="compareCDEDataElementDetailsHeading">
            Value Domain <img src="icons/minus.png" alt="collapse" class="compareScreenExpandCollapse" ng-click="valueDomain=!valueDomain" ng-show="!valueDomain"><img src="icons/plus.png" alt="expand" class="compareScreenExpandCollapse" ng-click="valueDomain=!valueDomain" ng-hide="!valueDomain">
        </div>
        <table class="compareCDEDataElementDetailsTable" ng-show="!valueDomain">
            <tr>
                <td>CDE:</td>
                <td ng-repeat="(element, data) in cdeDetails">{{element + 1}}</td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Public ID:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.publicId}}
                </td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-show="data.valueDomain.valueDomainDetails==null" rowspan="21" style="text-align:center">No data found</td>
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Version:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.formattedVersion}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Long Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null" ng-bind-html="data.valueDomain.valueDomainDetails.longName">
                    {{data.valueDomain.valueDomainDetails.longName}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Short Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.shortName}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Context:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.context}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Definition:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null" ng-bind-html="data.valueDomain.valueDomainDetails.definition">
                    {{data.valueDomain.valueDomainDetails.definition}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Workflow Status:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.workflowStatus}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Data Type:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.dataType}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Unit of Measure:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.unitOfMeasure}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Display Format:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.displayFormat}}
                </td>
            </tr>
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Maximum Length:</td>
                <td class="compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.maximumLength}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Minimum Length:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.minimumLength}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Decimal Place:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.decimalPlace}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">High Value:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.highValue}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Low Value:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.lowValue}}
                </td>
            </tr>

            <!-- valueDomainType == E if it is Enumerated. We want the full text in the display -->
            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Value Domain Type:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    <div data-ng-show="data.valueDomain.valueDomainDetails.valueDomainType=='E'">
                        Enumerated
                    </div>
                    <div data-ng-show="data.valueDomain.valueDomainDetails.valueDomainType!='E'">
                        Non Enumerated
                    </div>
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Conceptual Domain Public ID:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.conceptualDomainPublicId}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Conceptual Domain Long Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.conceptualDomainLongName}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Conceptual Domain Context Name:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.conceptualDomainContextName}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Conceptual Domain Version:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.formattedConceptualDomainVersion}}
                </td>
            </tr>

            <tr class="dataElementViewTableTr">
                <td class="dataElementDescription compareDataElementDescription">Origin:</td>
                <td class="dataElementValue compareDataElementValue" ng-repeat="(element, data) in cdeDetails" ng-hide="data.valueDomain.valueDomainDetails==null">
                    {{data.valueDomain.valueDomainDetails.origin}}
                </td>
            </tr>
        </table>

        <!-- Permissible Values -->
        <br>
        <div id="permissibleValues" class="compareCDEDataElementDetailsHeading">
            Permissible Values <img src="icons/minus.png" alt="collapse" class="compareScreenExpandCollapse"
            ng-click="permissibleValues=!permissibleValues"
            ng-show="!permissibleValues">
            <img src="icons/plus.png"
            alt="expand"
            class="compareScreenExpandCollapse"
            ng-click="permissibleValues=!permissibleValues"
            ng-hide="!permissibleValues">
        </div>


        <table ng-show="!permissibleValues">
            <tr>
                <td valign="top" ng-repeat="(element, data) in cdeDetails">

                    <table class="compareCDEDataElementDetailsTable">
                        <tr>
                            <td>{{element + 1}}</td>
                        </tr>
                        <tr class="dataElementViewTableTr">
                            <td width="24px" class="dataElementHeading">PV<img style="cursor:pointer;" src="icons/arrowUp.png" alt="sort" width="11" ng-click="sortPV($event,element,data.valueDomain.permissibleValues)"></td>
                            <td class="dataElementHeading">PV Meaning<img style="cursor:pointer;" src="icons/arrowUp.png" alt="sort" width="11" ng-click="sortPVMeaning($event,element,data.valueDomain.permissibleValues)"></td>
                            <td class="dataElementHeading">PV Meaning Concept Codes<img style="cursor:pointer;" src="icons/arrowUp.png" alt="sort" width="11" ng-click="sortPVMeaningConceptCode($event,element,data.valueDomain.permissibleValues)"></td>
                            <td class="dataElementHeading">PV Meaning Description</td>
                            <td class="dataElementHeading">PV Begin Date</td>
                            <td class="dataElementHeading">PV End Date</td>
                            <td class="dataElementHeading">VM Public ID</td>
                            <td class="dataElementHeading">VM Version</td>
                        </tr>


                        <tr class="dataElementViewTableTr"
                            ng-repeat="(element1, data1) in data.valueDomain.permissibleValues">
                            <td width="24px" class="compareDataElementValue" ng-bind-html="data1.value">{{data1.value}}</td>


                            <td class="compareDataElementValue" ng-bind-html="data1.shortMeaning">{{data1.shortMeaning}}</td>

                            <td class="compareDataElementValue">
                                <a class="link" TARGET="_blank"
                                   href="https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code={{data1.conceptCode}}">
                                    {{data1.conceptCode}}</a>
                            </td>
                            <td class="compareDataElementValue" ng-bind-html="data1.vmDescription">{{data1.vmDescription}}</td>
                            <td class="compareDataElementValue">{{data1.beginDateString}}</td>
                            <td class="compareDataElementValue">{{data1.endDateString}}</td>
                            <td class="compareDataElementValue">{{data1.vmId}}</td>
                            <td class="compareDataElementValue">{{data1.formattedVersion}}</td>

                        </tr>
                        <tr  class="dataElementViewTableTr" ng-show="data.valueDomain.permissibleValues==null">
                        <td colspan="8" style="text-align:center">No data found</td></tr>
                    </table>
                </td>
            </tr>
        </table>


        <!-- Classifications -->
        <br>
        <div id="classifications" class="compareCDEDataElementDetailsHeading">
            Classifications <img src="icons/minus.png" alt="collapse" class="compareScreenExpandCollapse" ng-click="classifications=!classifications" ng-show="!classifications"><img src="icons/plus.png" alt="expand" class="compareScreenExpandCollapse" ng-click="classifications=!classifications" ng-hide="!classifications">
        </div>
        <table ng-show="!classifications">
            <tr>
                <td valign="top" ng-repeat="(element, data) in cdeDetails">

                    <table class="compareCDEDataElementDetailsTable">
                        <tr>
                            <td>{{element + 1}}</td>
                        </tr>
                        <tr>
                            <th class="dataElementHeading compareDataElementColumn3">CS* Long Name</th>
                            <th class="dataElementHeading compareDataElementColumn2">CS* Definition</th>
<!--
                            <th class="dataElementHeading">CS* Public ID/Version</th>
-->
                            <th class="dataElementHeading compareDataElementColumn1">CSI* Name</th>
                            <th class="dataElementHeading compareDataElementColumn1">CSI* Type</th>
<!--
                            <th class="dataElementHeading">CSI* Public ID/Version</th>
-->
                        </tr>
                        <tr class="dataElementViewTableTr"
                            ng-repeat="(element1, classif) in data.classifications.classificationList">
                            <td class="dataElementValue compareDataElementColumn3" ng-bind-html="classif.csLongName">
                                {{classif.csLongName}}
                            </td>
                            <td class="dataElementValue compareDataElementColumn2" ng-bind-html="classif.csDefinition">
                                {{classif.csDefinition}}
                            </td>
<!--
                            <td class="compareDataElementValue">
                                <span ng-bind-html="classif.csId">{{classif.csId}}</span>v<span
                                    ng-bind-html="classif.csVersion">{{classif.csVersion}}</span>
                            </td>
-->
                            <td class="dataElementValue compareDataElementColumn1" ng-bind-html="classif.csiName">
                                {{classif.csiName}}
                            </td>
                            <td class="dataElementValue compareDataElementColumn1" ng-bind-html="classif.csiType">
                                {{classif.csiType}}
                            </td>
                           <!--
                           <td class="compareDataElementValue">
                                <span ng-bind-html="classif.csiId">{{classif.csiId}}</span>v<span
                                    ng-bind-html="classif.csiVersion">{{classif.csiVersion}}</span>
                           </td>
                           -->
                        </tr>
                        <tr  class="dataElementViewTableTr" ng-show="data.classifications.classificationList==null">
                        <td colspan="4" style="text-align:center">No data found</td></tr>
                    </table>
                </td>
            </tr>
        </table>

        <!-- dataElementDerivation -->
        <br>
        <div id="derivationDetails" class="compareCDEDataElementDetailsHeading">
            Data Element Derivation - Derivation Details <img src="icons/minus.png" alt="collapse" class="compareScreenExpandCollapse" ng-click="derivationDetails=!derivationDetails" ng-show="!derivationDetails"><img src="icons/plus.png" alt="expand" class="compareScreenExpandCollapse" ng-click="derivationDetails=!derivationDetails" ng-hide="!derivationDetails">
        </div>

        <table ng-show="!derivationDetails">
            <tr>
                <td valign="top" ng-repeat="(element, data) in cdeDetails">
                    <table class="compareCDEDataElementDetailsTable">
                        <tr>
                            <td>{{element + 1}}</td>
                        </tr>
                        <tr>
                            <th class="dataElementHeading">Derivation Type</th>
                            <th class="dataElementHeading">Rule</th>
                            <th class="dataElementHeading">Method</th>
                            <th class="dataElementHeading">Concatenation Character</th>
                        </tr>
                        <tr class="dataElementViewTableTr" ng-hide="data.dataElementDerivation.dataElementDerivationDetails==null">
                            <td class="compareDataElementValue" ng-bind-html="data.dataElementDerivation.dataElementDerivationDetails.derivationType">
                                {{data.dataElementDerivation.dataElementDerivationDetails.derivationType}}
                            </td>
                            <td class="compareDataElementValue" ng-bind-html="data.dataElementDerivation.dataElementDerivationDetails.rule">
                                {{data.dataElementDerivation.dataElementDerivationDetails.rule}}
                            </td>
                            <td class="compareDataElementValue" ng-bind-html="data.dataElementDerivation.dataElementDerivationDetails.method">
                                {{data.dataElementDerivation.dataElementDerivationDetails.method}}
                            </td>
                            <td class="compareDataElementValue" ng-bind-html="data.dataElementDerivation.dataElementDerivationDetails.concatenationCharacter">
                                {{data.dataElementDerivation.dataElementDerivationDetails.concatenationCharacter}}
                            </td>
                        </tr>
                        <tr  class="dataElementViewTableTr" ng-show="data.dataElementDerivation.dataElementDerivationDetails==null">
                        <td colspan="4" style="text-align:center">No data found</td></tr>
                    </table>
                </td>
            </tr>
        </table>

        <br>
        <div id="componentDataElements" class="compareCDEDataElementDetailsHeading">
            Data Element Derivation - Component Data Elements <img src="icons/minus.png" alt="collapse" class="compareScreenExpandCollapse" ng-click="componentDataElements=!componentDataElements" ng-show="!componentDataElements"><img src="icons/plus.png" alt="expand" class="compareScreenExpandCollapse" ng-click="componentDataElements=!componentDataElements" ng-hide="!componentDataElements">
        </div>
        <table ng-show="!componentDataElements">
            <tr>
                <td valign="top" ng-repeat="(element, data) in cdeDetails">

                    <table class="compareCDEDataElementDetailsTable">
                        <tr>
                            <td>{{element + 1}}</td>
                        </tr>
                        <tr>
                            <th class="dataElementHeading">Display Order</th>
                            <th class="dataElementHeading">Long Name</th>
                            <th class="dataElementHeading">Context</th>
                            <th class="dataElementHeading">Workflow Status</th>
                            <th class="dataElementHeading">Public ID</th>
                            <th class="dataElementHeading">Version</th>
                        </tr>
                        <tr class="dataElementViewTableTr"
                            ng-repeat="(element1, elements) in data.dataElementDerivation.dataElementDerivationComponentModels">
                            <td class="compareDataElementValue" >
                                {{elements.displayOrder}}
                            </td>
                            <td class="compareDataElementValue">
                                    <span ng-bind-html="elements.longName">{{elements.longName}}</span>
                            </td>

                            <td class="compareDataElementValue" ng-bind-html="elements.context">{{elements.context}}</td>
                            <td class="compareDataElementValue" ng-bind-html="elements.workflowStatus">{{elements.workflowStatus}}</td>
                            <td class="compareDataElementValue" ng-bind-html="elements.publicId">{{elements.publicId}}</td>
                            <td class="compareDataElementValue" ng-bind-html="elements.formattedVersion">{{elements.formattedVersion}}</td>
                        </tr>
                        <tr  class="dataElementViewTableTr" ng-show="data.dataElementDerivation.dataElementDerivationComponentModels==null">
                        <td colspan="6" style="text-align:center">No data found</td></tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
    <!-- =============================================================================== -->

</div>



</div>
	<div style="padding-top:5px">
		<button ng-disabled="compareService.checkedCompareItemsLength()" ng-click="excelDownload()">Excel Download</button>
		<button ng-click="goBack()">Return to Search</button>
	</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85797083-1', 'auto');
  ga('send', 'pageview');

</script>