<br>
<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Selected Data Element</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.selectedDataElement.publicId">{{cdeDetails.valueDomain.selectedDataElement.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.selectedDataElement.formattedVersion">{{cdeDetails.valueDomain.selectedDataElement.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.selectedDataElement.longName">{{cdeDetails.valueDomain.selectedDataElement.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.selectedDataElement.shortName">{{cdeDetails.valueDomain.selectedDataElement.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Preferred Question Text:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.selectedDataElement.preferredQuestionText">{{cdeDetails.valueDomain.selectedDataElement.preferredQuestionText}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Definition:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.selectedDataElement.definition">{{cdeDetails.valueDomain.selectedDataElement.definition}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Workflow Status:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.selectedDataElement.workflowStatus">{{cdeDetails.valueDomain.selectedDataElement.workflowStatus}}</td>
    </tr>
</table>
<br>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Value Domain Details</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.publicId">{{cdeDetails.valueDomain.valueDomainDetails.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.formattedVersion">{{cdeDetails.valueDomain.valueDomainDetails.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.longName">{{cdeDetails.valueDomain.valueDomainDetails.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.shortName">{{cdeDetails.valueDomain.valueDomainDetails.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Context Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.context">{{cdeDetails.valueDomain.valueDomainDetails.context}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Definition:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.definition">{{cdeDetails.valueDomain.valueDomainDetails.definition}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Workflow Status:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.workflowStatus">{{cdeDetails.valueDomain.valueDomainDetails.workflowStatus}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Data Type:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.dataType">{{cdeDetails.valueDomain.valueDomainDetails.dataType}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Unit of Measure:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.unitOfMeasure">{{cdeDetails.valueDomain.valueDomainDetails.unitOfMeasure}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Display Format:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.displayFormat">{{cdeDetails.valueDomain.valueDomainDetails.displayFormat}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Maximum Length:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.maximumLength">{{cdeDetails.valueDomain.valueDomainDetails.maximumLength}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Minimum Length:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.minimumLength">{{cdeDetails.valueDomain.valueDomainDetails.minimumLength}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Decimal Place:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.decimalPlace">{{cdeDetails.valueDomain.valueDomainDetails.decimalPlace}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">High Value:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.highValue">{{cdeDetails.valueDomain.valueDomainDetails.highValue}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Low Value:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.lowValue">{{cdeDetails.valueDomain.valueDomainDetails.lowValue}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Value Domain Type:</td>
        <td class="dataElementValue" data-ng-show="cdeDetails.valueDomain.valueDomainDetails.valueDomainType=='E'">
            Enumerated
        </td>
        <td class="dataElementValue" data-ng-show="cdeDetails.valueDomain.valueDomainDetails.valueDomainType!='E'">Non
            Enumerated
        </td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Public ID:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.conceptualDomainPublicId">{{cdeDetails.valueDomain.valueDomainDetails.conceptualDomainPublicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Short Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.conceptualDomainShortName">{{cdeDetails.valueDomain.valueDomainDetails.conceptualDomainShortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Context Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.conceptualDomainContextName">{{cdeDetails.valueDomain.valueDomainDetails.conceptualDomainContextName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Version:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.formattedConceptualDomainVersion">{{cdeDetails.valueDomain.valueDomainDetails.formattedConceptualDomainVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Origin:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.valueDomainDetails.origin">{{cdeDetails.valueDomain.valueDomainDetails.origin}}</td>
    </tr>
</table><br>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="6" align="left">Value Domain Concepts</th>
    </tr>
</table>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1" data-ng-show="cdeDetails.valueDomain.valueDomainConcepts.length">
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">Concept Name</td>
        <td class="dataElementHeading">Concept Code</td>
        <td class="dataElementHeading">Public ID</td>
        <td class="dataElementHeading">Definition Source</td>
        <td class="dataElementHeading">EVS Source</td>
        <td class="dataElementHeading">Primary</td>
    </tr>

    <tr class="dataElementViewTableTr" data-ng-repeat="vdConcept in cdeDetails.valueDomain.valueDomainConcepts">
        <td class="dataElementValue" ng-bind-html="vdConcept.conceptName">{{vdConcept.conceptName}}</td>
        <td class="dataElementValue">
            <a class="link" TARGET="_blank"
               href="https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code={{vdConcept.conceptCode}}">
                <span ng-bind-html="vdConcept.conceptCode">{{vdConcept.conceptCode}}</span></a>
        </td>
        <td class="dataElementValue" ng-bind-html="vdConcept.publicId">{{vdConcept.publicId}}</td>
        <td class="dataElementValue" ng-bind-html="vdConcept.definitionSource">{{vdConcept.definitionSource}}</td>
        <td class="dataElementValue" ng-bind-html="vdConcept.evsSource">{{vdConcept.evsSource}}</td>
        <td class="dataElementValue" ng-bind-html="vdConcept.primary">{{vdConcept.primary}}</td>
    </tr>
</table>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1" data-ng-hide="cdeDetails.valueDomain.valueDomainConcepts.length">
    <tr class="dataElementViewTableTr">
        <td class="dataElementValue" >Value Domain does not have any Concepts.</td>
    </tr>
</table>

<br>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Representation</th>
    </tr>
</table>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.representation.publicId">{{cdeDetails.valueDomain.representation.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.representation.formattedVersion">{{cdeDetails.valueDomain.representation.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.representation.longName">{{cdeDetails.valueDomain.representation.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.representation.shortName">{{cdeDetails.valueDomain.representation.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Context:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.valueDomain.representation.context">{{cdeDetails.valueDomain.representation.context}}</td>
    </tr>
</table><br>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="6" align="left">Representation Concepts</th>
    </tr>
</table>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">Concept Name</td>
        <td class="dataElementHeading">Concept Code</td>
        <td class="dataElementHeading">Public ID</td>
        <td class="dataElementHeading">Definition Source</td>
        <td class="dataElementHeading">EVS Source</td>
        <td class="dataElementHeading">Primary</td>
    </tr>

    <tr class="dataElementViewTableTr" data-ng-repeat="representation in cdeDetails.valueDomain.representationConcepts">
        <td class="dataElementValue" ng-bind-html="representation.conceptName">{{representation.conceptName}}</td>
        <td class="dataElementValue">
            <a class="link" TARGET="_blank"
               href="https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code={{representation.conceptCode}}">
               <span ng-bind-html="representation.conceptCode">{{representation.conceptCode}}</span></a>
        </td>
        <td class="dataElementValue" ng-bind-html="representation.publicId">{{representation.publicId}}</td>
        <td class="dataElementValue" ng-bind-html="representation.definitionSource">{{representation.definitionSource}}</td>
        <td class="dataElementValue" ng-bind-html="representation.evsSource">{{representation.evsSource}}</td>
        <td class="dataElementValue" ng-bind-html="representation.primary">{{representation.primary}}</td>
    </tr>
</table><br>

<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="6" align="left">Permissible Values <span style="float: right;">(Total number of PVs = {{cdeDetails.valueDomain.permissibleValues.length}})</span>
        </td>
    </tr>
</table>




<div class="dataElementViewTableWithScroller" data-ng-show="cdeDetails.valueDomain.permissibleValues.length">
    <table align="center" cellpadding="1" cellspacing="1" width="100%">
        <tr class="dataElementViewTableTr">
            <td width="24px" class="dataElementHeading">PV</td>
            <td class="dataElementHeading">PV Meaning</td>
            <td class="dataElementHeading">PV Meaning Concept Codes</td>
            <td class="dataElementHeading">PV Meaning Description</td>
            <td class="dataElementHeading">PV Begin Date</td>
            <td class="dataElementHeading">PV End Date</td>
            <td class="dataElementHeading">VM Public ID</td>
            <td class="dataElementHeading">VM Version</td>
        </tr>
        <tr class="dataElementViewTableTr" data-ng-repeat="p_value in cdeDetails.valueDomain.permissibleValues">
            <td width="24px" class="dataElementValue" ng-bind-html="p_value.value">{{p_value.value}}</td>
            <td class="dataElementValue"><a class="link" data-ng-click="goToVM($index + 1)" ng-bind-html="p_value.shortMeaning">{{p_value.shortMeaning}}</a></td>
            <td class="dataElementValue">

                <a style="text-decoration: none;" data-ng-repeat="cCode in p_value.conceptCodeArray" TARGET="_blank"
                   href="https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code={{cCode}}"><span style="text-decoration: underline !important;">{{cCode}}</span><span ng-show="!$last">:</span></a><br />

            </td>
            <td class="dataElementValue" ng-bind-html="p_value.vmDescription">{{p_value.vmDescription}}</td>
            <td class="dataElementValue" ng-bind-html="p_value.beginDateString">{{p_value.beginDateString}}</td>
            <td class="dataElementValue" ng-bind-html="p_value.endDateString">{{p_value.endDateString}}</td>
            <td class="dataElementValue" ng-bind-html="p_value.vmId">{{p_value.vmId}}</td>
            <td class="dataElementValue" ng-bind-html="p_value.formattedVersion">{{p_value.formattedVersion}}</td>
        </tr>
    </table>
</div>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1" data-ng-hide="cdeDetails.valueDomain.permissibleValues.length">
    <tr class="dataElementViewTableTr">
        <td class="dataElementValue">This Value Domain is Non Enumerated.</td>
    </tr>
</table>

<br>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="5" align="left">Reference Documents</th>
    </tr>
</table>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">Document Name</td>
        <td class="dataElementHeading">Document Type</td>
        <td class="dataElementHeading">Document Text</td>
        <td class="dataElementHeading">Context</td>
        <td class="dataElementHeading">URL</td>
    </tr>


    <tr class="dataElementViewTableTr" data-ng-repeat="doc in cdeDetails.valueDomain.valueDomainReferenceDocuments">
        <td class="dataElementValue" ng-bind-html="doc.docName">{{doc.docName}}</td>
        <td class="dataElementValue" ng-bind-html="doc.docType">{{doc.docType}}</td>
        <td class="dataElementValue" ng-bind-html="doc.docText">{{doc.docText}}</td>
        <td class="dataElementValue" ng-bind-html="doc.context.name">{{doc.context.name}}</td>
        <td class="dataElementValue">
            <a href={{doc.url}} target="_blank">
                <span ng-bind-html="doc.url">{{doc.url}}</span></a></td>
    </tr>
    <tr class="dataElementViewTableTr" data-ng-hide="cdeDetails.valueDomain.valueDomainReferenceDocuments.length">
        <td colspan="5">There are no reference documents for the value domain</td>
    </tr>
</table><br>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85797083-1', 'auto');
  ga('send', 'pageview');

</script>