<!-- ng-controller="AdvancedSearchController" -->

<span ng-controller="GenericSearchController">

    <div class="advanceSearchLeft">
        <div class="valueDomainGroup">
            <div>
                <label class="advancedSearchLabel">Value Domain</label>
                <input ng-disabled="fs.isSearching" class="roundInput advanceSearchVDInput" type="text" ng-keyup="searchKey(e=$event)" placeholder="Value Domains" id="advancedSearchVD" name="searchVD"
                       ng-model="fs.dataElementVariables.searchVD"/>
            </div>
            <label data-ng-repeat="queryType in searchVDTQueryTypes">
                <div class="queryTypeRadioButtons">
                    <input ng-disabled="fs.isSearching || fs.dataElementVariables.searchVD==''"
                           name="searchVDTQueryType"
                           type="radio"
                           value="{{queryType.id}}"
                           data-ng-model="fs.dataElementVariables.searchVDTQueryType"/>
                    {{queryType.name}}&nbsp;&nbsp;
                </div>
            </label>
        </div>

        <div class="permissibleValueGroup">
            <div>
                <label class="advancedSearchLabel">Permissible Value</label>
                <input ng-disabled="fs.isSearching" class="roundInput advanceSearchPVInput" type="text" ng-keyup="searchKey(e=$event)" placeholder="Permissible Value"
                       id="advancedSearchPV" name="searchPV"
                       ng-model="fs.dataElementVariables.searchPV"/>
            </div>
            <label data-ng-repeat="queryType in searchQueryTypes">
                <div class="queryTypeRadioButtons">
                    <input ng-disabled="fs.isSearching || fs.dataElementVariables.searchPV==''"
                           name="searchPVQueryType"
                           type="radio"
                           value="{{queryType.id}}"
                           data-ng-model="fs.dataElementVariables.searchPVQueryType"/>
                    {{queryType.name}}&nbsp;&nbsp;
                </div>
            </label>
        </div>

        <div>
        <label data-ng-repeat="versionType in searchVersions">
            <div class="queryTypeRadioButtons">
                <input ng-disabled="fs.isSearching"
                       type="radio"
                       value="{{versionType.id}}"
                       data-ng-model="fs.dataElementVariables.searchVersions"/>
                {{versionType.name}}&nbsp;&nbsp;
            </div>
        </label>
        </div>

         <div>
        <label data-ng-repeat="queryType in searchContextUseValues">
            <div class="queryTypeRadioButtons">
                <input ng-disabled="fs.isSearching"
                       name="searchContextUse"
                       type="radio"
                       value="{{queryType.id}}"
                       data-ng-model="fs.dataElementVariables.searchContextUse"/>
                {{queryType.name}}&nbsp;&nbsp;
            </div>
        </label>
        </div>
    </div>

    <div class="advanceSearchRight">
        <div class="altNameGroup">
            <div>
                <label class="advancedSearchLabel">Alternate Name</label>
                <input ng-disabled="fs.isSearching" class="roundInput advanceSearchANInput" type="text" ng-keyup="searchKey(e=$event)" ng-model="fs.dataElementVariables.searchAltName"
                       placeholder="Alternate Name" multiple="true"/>
                <span>
                    <label class="advancedSearchLabel"></label>
                    <select ng-disabled="fs.isSearching || fs.dataElementVariables.searchAltName==''" ng-model="fs.dataElementVariables.searchAltNameType" multiple="true" ng-change="setSelectedAlt()">
                    <option ng-repeat="option in alternateNameTypes" value="{{option}}">{{option}}</option>
                    </select>
                </span>
            </div>
        </div>

        <div class="textInputGroup">
             <div>
                <label class="advancedSearchLabel">Data Element Concept</label>
                <input ng-disabled="fs.isSearching" class="roundInput advanceSearchDECInput" type="text" ng-keyup="searchKey(e=$event)" placeholder="Data Element Concept"
                       id="advancedSearchDEC" name="searchDEC"
                       ng-model="fs.dataElementVariables.searchDEC"/>
            </div>

            <div>
                <label class="advancedSearchLabel">Object Class</label>
                <input ng-disabled="fs.isSearching" class="roundInput advanceSearchOCInput" type="text" ng-keyup="searchKey(e=$event)" placeholder="Object Class"
                       ng-model="fs.dataElementVariables.searchObjectClass"/>
            </div>

            <div><!--  class="advanceSearchTextBoxSpacing" -->
                <label class="advancedSearchLabel">Property</label>
                <input ng-disabled="fs.isSearching" class="roundInput advanceSearchPropInput" type="text" ng-keyup="searchKey(e=$event)" placeholder="Property"
                       ng-model="fs.dataElementVariables.searchProperty"/>
            </div>
        </div>

        <div><!--  class="advanceSearchCheckboxSpacing" -->
            <label class="advancedSearchLabel">
                <input type="checkbox" ng-model="fs.dataElementVariables.derivedDE" />
                Search only Derived DEs
            </label>          
        </div>
    </div>

</span>
