<!--
<span ng-controller="AdvancedSearchController">
-->
<span ng-controller="GenericSearchController">

    <div>
        <label class="advancedSearchLabel"></label>
        <input class="roundInput advanceSearchInput" type="text" placeholder="Data Element Concept"
               id="advancedSearchDEC" name="searchDEC"
               ng-model="fs.dataElementVariables.searchDEC"/>
    </div>

    <div class="valueDomainGroup">
        <div>
            <label class="advancedSearchLabel"></label>
            <input class="roundInput advanceSearchInputBordered" type="text" placeholder="Value Domains" id="advancedSearchVD" name="searchVD"
                   ng-model="fs.dataElementVariables.searchVD"/>
        </div>
        <label data-ng-repeat="queryType in searchVDQueryTypes">
            <div class="queryTypeRadioButtons">
                <input ng-disabled="fs.isSearching"
                       name="searchVDTQueryType"
                       type="radio"
                       value="{{queryType.id}}"
                       data-ng-model="fs.dataElementVariables.searchVDTQueryType"/>
                {{queryType.name}}&nbsp;&nbsp;
            </div>
        </label>
    </div>

        <div class="permissibleValueGroup">
            <div>
                <label class="advancedSearchLabel"></label>
                <input class="roundInput advanceSearchInputBordered" type="text" placeholder="Permissible Value"
                       id="advancedSearchPV" name="searchPV"
                       ng-model="fs.dataElementVariables.searchPV"/>
            </div>
            <label data-ng-repeat="queryType in searchQueryTypes">
                <div class="queryTypeRadioButtons">
                    <input ng-disabled="fs.isSearching"
                           name="searchPVQueryType"
                           type="radio"
                           value="{{queryType.id}}"
                           data-ng-model="fs.dataElementVariables.searchPVQueryType"/>
                    {{queryType.name}}&nbsp;&nbsp;
                </div>
            </label>
        </div>

        <div>
            <label class="advancedSearchLabel"></label>
            <input class="roundInput advanceSearchInput" type="text" ng-model="fs.dataElementVariables.searchAltName"
                   placeholder="Alternate Name" multiple="true"/>
            <!--
                    {{fs.dataElementVariables.searchAltName}}
            -->
        <span>
            <div><label class="advancedSearchLabel">Alternate Name Type(s)</label></div>
            <select ng-model="fs.dataElementVariables.searchAltNameType" multiple="true"
                    ng-options="type for type in alternateNameTypes track by type"></select>
            </select>
        </span>
            <!--
                    {{fs.dataElementVariables.searchAltNameType}}
            -->
        </div>
        <label data-ng-repeat="versionType in searchVersions">
            <div class="queryTypeRadioButtons">
                <input ng-disabled="fs.isSearching"
                       type="radio"
                       value="{{versionType.id}}"
                       data-ng-model="fs.dataElementVariables.searchVersions"/>
                {{versionType.name}}&nbsp;&nbsp;
            </div>
        </label>
    </div>
    <span>
        <div><label class="advancedSearchLabel">Context Use</label></div>
            <select ng-model="fs.dataElementVariables.searchContextUse"  multiple="true"
                       ng-options="contextUse for contextUse in searchContextUseValues">
            </select>
    </span>
    <div>
        <label class="advancedSearchLabel"></label>
        <input class="roundInput advanceSearchInput" type="text" placeholder="Object Class"
               ng-model="fs.dataElementVariables.searchObjectClass"/>
    </div>


</span>
