<br/>

<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Selected Data Element</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.selectedDataElement.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.selectedDataElement.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.selectedDataElement.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.selectedDataElement.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Preferred Question Text:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.selectedDataElement.preferredQuestionText}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Definition:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.selectedDataElement.definition}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription"> Workflow Status:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.selectedDataElement.workflowStatus}}</td>
    </tr>
</table>
<br>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Data Element Concept Details</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.dataElementConceptDetails.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.dataElementConceptDetails.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.dataElementConceptDetails.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.dataElementConceptDetails.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Definition:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.dataElementConceptDetails.definition}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Context:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.dataElementConceptDetails.context}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Workflow Status:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.dataElementConceptDetails.workflowStatus}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Public ID:</td>
        <td class="dataElementValue">
            {{cdeDetails.dataElementConcept.dataElementConceptDetails.conceptualDomainPublicId}}
        </td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Short Name:</td>
        <td class="dataElementValue">
            {{cdeDetails.dataElementConcept.dataElementConceptDetails.conceptualDomainShortName}}
        </td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Context Name:</td>
        <td class="dataElementValue">
            {{cdeDetails.dataElementConcept.dataElementConceptDetails.conceptualDomainContextName}}
        </td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Version:</td>
        <td class="dataElementValue">
            {{cdeDetails.dataElementConcept.dataElementConceptDetails.formattedConceptualDomainVersion}}
        </td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Origin:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.dataElementConceptDetails.origin}}</td>
    </tr>
</table>
<br>


<br/>
<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Object Class</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.objectClass.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.objectClass.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.objectClass.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.objectClass.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Context:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.objectClass.context}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Qualifier:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.objectClass.qualifier}}</td>
    </tr>
</table>
<Br/>


</table><br/>


<br/>
<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="6" align="left">Object Class Concepts</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">Concept Name</td>
        <td class="dataElementHeading">Concept Code</td>
        <td class="dataElementHeading">Public ID</td>
        <td class="dataElementHeading">Definition Source</td>
        <td class="dataElementHeading">EVS Source</td>
        <td class="dataElementHeading">Primary</td>
    </tr>
    <tr class="dataElementViewTableTr" data-ng-repeat="elements in cdeDetails.dataElementConcept.objectClassConcepts">
        <td class="dataElementValue">{{elements.conceptName}}</td>
        <td class="dataElementValue">
            <a class="link" TARGET="_blank"
               href="http://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code={{elements.conceptCode}}">
                {{elements.conceptCode}}</a>
        </td>
        <td class="dataElementValue">{{elements.publicId}}</td>
        <td class="dataElementValue">{{elements.definitionSource}}</td>
        <td class="dataElementValue">{{elements.evsSource}}</td>
        <td class="dataElementValue">{{elements.primary}}</td>
    </tr>
</table><br/>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Property</th>
    </tr>
</table>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.property.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.property.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.property.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.property.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Context:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.property.context}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Qualifier:</td>
        <td class="dataElementValue">{{cdeDetails.dataElementConcept.property.qualifier}}</td>
    </tr>

</table><br/>

<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="6" align="left">Property Concepts</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Concept Name</td>
        <td class="dataElementDescription">Concept Code</td>
        <td class="dataElementDescription">Public ID</td>
        <td class="dataElementDescription">Definition Source</td>
        <td class="dataElementDescription">EVS Source</td>
        <td class="dataElementDescription">Primary</td>
    </tr>
    <tr class="dataElementViewTableTr" data-ng-repeat="elements in cdeDetails.dataElementConcept.propertyConcepts">
        <td class="dataElementValue">{{elements.conceptName}}</td>
        <td class="dataElementValue">
            <a class="link" TARGET="_blank"
               href="http://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code={{elements.conceptCode}}">
                {{elements.conceptCode}}</a>
        </td>
        <td class="dataElementValue">{{elements.publicId}}</td>
        <td class="dataElementValue">{{elements.definitionSource}}</td>
        <td class="dataElementValue">{{elements.evsSource}}</td>
        <td class="dataElementValue">{{elements.primary}}</td>
    </tr>

    <tr class="dataElementViewTableTr" ng-hide="cdeDetails.dataElementConcept.propertyConcepts.length">
        <td colspan="6">There are no Property Concepts</td>
    </tr>

</table><br/>


