<br/>

<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Selected Data Element</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.selectedDataElement.publicId">{{cdeDetails.dataElementConcept.selectedDataElement.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.selectedDataElement.formattedVersion">{{cdeDetails.dataElementConcept.selectedDataElement.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.selectedDataElement.longName">{{cdeDetails.dataElementConcept.selectedDataElement.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.selectedDataElement.shortName">{{cdeDetails.dataElementConcept.selectedDataElement.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Preferred Question Text:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.selectedDataElement.preferredQuestionText">{{cdeDetails.dataElementConcept.selectedDataElement.preferredQuestionText}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Definition:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.selectedDataElement.definition">{{cdeDetails.dataElementConcept.selectedDataElement.definition}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription"> Workflow Status:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.selectedDataElement.workflowStatus">{{cdeDetails.dataElementConcept.selectedDataElement.workflowStatus}}</td>
    </tr>
<!--     <tr class="dataElementViewTableTr">
        <td class="dataElementDescription"> Registration Status:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElement.dataElementDetails.registrationStatus">{{cdeDetails.dataElement.dataElementDetails.registrationStatus}}</td>
    </tr>  -->   
</table>
<br>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Data Element Concept Details</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.publicId">{{cdeDetails.dataElementConcept.dataElementConceptDetails.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.formattedVersion">{{cdeDetails.dataElementConcept.dataElementConceptDetails.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.longName">{{cdeDetails.dataElementConcept.dataElementConceptDetails.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.shortName">{{cdeDetails.dataElementConcept.dataElementConceptDetails.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Definition:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.definition">{{cdeDetails.dataElementConcept.dataElementConceptDetails.definition}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Context:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.context">{{cdeDetails.dataElementConcept.dataElementConceptDetails.context}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Workflow Status:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.workflowStatus">{{cdeDetails.dataElementConcept.dataElementConceptDetails.workflowStatus}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Public ID:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.conceptualDomainPublicId">
            {{cdeDetails.dataElementConcept.dataElementConceptDetails.conceptualDomainPublicId}}
        </td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Short Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.conceptualDomainShortName">
            {{cdeDetails.dataElementConcept.dataElementConceptDetails.conceptualDomainShortName}}
        </td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Conceptual Domain Version:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.formattedConceptualDomainVersion">
            {{cdeDetails.dataElementConcept.dataElementConceptDetails.formattedConceptualDomainVersion}}
        </td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Origin:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.dataElementConceptDetails.origin">{{cdeDetails.dataElementConcept.dataElementConceptDetails.origin}}</td>
    </tr>
</table>
<br>


<br/>
<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Object Class</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.objectClass.publicId">{{cdeDetails.dataElementConcept.objectClass.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.objectClass.formattedVersion">{{cdeDetails.dataElementConcept.objectClass.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.objectClass.longName">{{cdeDetails.dataElementConcept.objectClass.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Context:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.objectClass.context">{{cdeDetails.dataElementConcept.objectClass.context}}</td>
    </tr>
</table>
<Br/>


</table><br/>


<br/>
<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="6" align="left">Object Class Concepts</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">Concept Name</td>
        <td class="dataElementHeading">Concept Code</td>
        <td class="dataElementHeading">Public ID</td>
        <td class="dataElementHeading">Definition Source</td>
        <td class="dataElementHeading">EVS Source</td>
        <td class="dataElementHeading">Primary</td>
    </tr>
    <tr class="dataElementViewTableTr" data-ng-repeat="elements in cdeDetails.dataElementConcept.objectClassConcepts">
        <td class="dataElementValue" ng-bind-html="elements.conceptName">{{elements.conceptName}}</td>
        <td class="dataElementValue">
            <a class="link" TARGET="_blank"
               href="https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code={{elements.conceptCode}}">
                <span ng-bind-html="elements.conceptCode">{{elements.conceptCode}}</span></a>
        </td>
        <td class="dataElementValue" ng-bind-html="elements.publicId">{{elements.publicId}}</td>
        <td class="dataElementValue" ng-bind-html="elements.definitionSource">{{elements.definitionSource}}</td>
        <td class="dataElementValue" ng-bind-html="elements.evsSource">{{elements.evsSource}}</td>
        <td class="dataElementValue" ng-bind-html="elements.primary">{{elements.primary}}</td>
    </tr>
</table><br/>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Property</th>
    </tr>
</table>
<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.property.publicId">{{cdeDetails.dataElementConcept.property.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.property.formattedVersion">{{cdeDetails.dataElementConcept.property.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.property.longName">{{cdeDetails.dataElementConcept.property.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Context:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.dataElementConcept.property.context">{{cdeDetails.dataElementConcept.property.context}}</td>
    </tr>

</table><br/>

<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="6" align="left">Property Concepts</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Concept Name</td>
        <td class="dataElementDescription">Concept Code</td>
        <td class="dataElementDescription">Public ID</td>
        <td class="dataElementDescription">Definition Source</td>
        <td class="dataElementDescription">EVS Source</td>
        <td class="dataElementDescription">Primary</td>
    </tr>
    <tr class="dataElementViewTableTr" data-ng-repeat="elements in cdeDetails.dataElementConcept.propertyConcepts">
        <td class="dataElementValue" ng-bind-html="elements.conceptName">{{elements.conceptName}}</td>
        <td class="dataElementValue">
            <a class="link" TARGET="_blank"
               href="https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code={{elements.conceptCode}}">
                <span ng-bind-html="elements.conceptCode">{{elements.conceptCode}}</span></a>
        </td>
        <td class="dataElementValue" ng-bind-html="elements.publicId">{{elements.publicId}}</td>
        <td class="dataElementValue" ng-bind-html="elements.definitionSource">{{elements.definitionSource}}</td>
        <td class="dataElementValue" ng-bind-html="elements.evsSource">{{elements.evsSource}}</td>
        <td class="dataElementValue" ng-bind-html="elements.primary">{{elements.primary}}</td>
    </tr>

    <tr class="dataElementViewTableTr" data-ng-hide="cdeDetails.dataElementConcept.propertyConcepts.length">
        <td colspan="6">There are no Property Concepts</td>
    </tr>

</table><br/>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85797083-1', 'auto');
  ga('send', 'pageview');

</script>