<!DOCTYPE html>
<html>
<head>
    <title>Client 3.01</title>
    <script type='text/javascript' src='angular.min.js'></script>
    <script type='text/javascript' src="app.js"></script>
    <script type='text/javascript' src='cdeBrowserClient.js'></script>
    <script type='text/javascript' src="cdeBrowserProperties.js"></script>
    <script type='text/javascript' src="directives/treeModel.js"></script>
    <script type='text/javascript' src="directives/resize.js"></script>
    <script src="plugins/ng-table/ng-table.min.js"></script>
    <link rel="stylesheet" href="plugins/ng-table/ng-table.min.css">
    <link rel="stylesheet" type="text/css" href="css/cdeBrowserClient.css">
    <link rel="stylesheet" type="text/css" href="css/treeMenu.css">
    <link rel="stylesheet" type="text/css" href="css/tabMenu.css">
    <link rel="stylesheet" type="text/css" href="css/basicSearchResults.css">


</head>
<body>

<!-- =============================================================================== -->
<div class="topButtons" id="top-header-right" >
                     <table class="hdrBG" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                           <tr>
                              <th scope="row" align="left">
                                 <a href="http://www.cancer.gov/"><img alt="National Cancer Institute" src="images/nci.jpg" border="0" height="37" width="283"></a>
                              </th>
                              <td>
                                 &nbsp;
                              </td>
                              <td align="right">
                                 <a href="http://www.cancer.gov/"><img alt="U.S. National Institutes of Health | www.cancer.gov" src="images/nih.jpg" border="0" height="37" width="295"></a>
                              </td>
                           </tr>
                        </tbody>
                     </table>
    <TABLE valign="top" width=100%; Cellpadding=0 Cellspacing=0 border=0>
        <tr>
            <td id="top-cadsrTd">
                <div top-cadsr id="top-header-left">
                    <a top_image id="top_image"
                       href="http://ncicb.nci.nih.gov/NCICB/infrastructure/cacore_overview/cadsr"
                       target="_blank">
                        <img src="icons/iconSet0/caDSR_logo.png">
                    </a>
                </div>
            </td>


            <td align="right">
                <!-- Logo and four buttons -->
                <table border=0>
                    <TR>
                        <!-- large CDE Browser Logo  -->
                        <td valign="top" align="left" nowrap>
                            <img src="icons/iconSet0/cdeBrowserLogo.png" border="0" alt="cdeBrowserLogo">
                        </td>


                        <!--  Four buttons  -->
                        <td align=right valign=top colspan=3 align="right" nowrap>
                            <TABLE Cellpadding=3 Cellspacing=0 border=0>
                                <TR>
                                    <TD class="buttonCell" valign="TOP" align="CENTER" colspan=1>
                                        <a
                                                href="/CDEBrowser/cdeCartAction.do?method=displayCDECart" target="_top">
                                            <img
                                                    id="shoppingButton"
                                                    src="icons/buttonIconSet0/brown/circle_shopping_cart.png"
                                                    alt="CDE Cart"
                                                    />
                                        </a>
                                        <br>
                                        &nbsp;CDE &nbsp;Cart
                                    </TD>
                                    <TD class="buttonCell" valign="TOP" align="CENTER" colspan=1>
                                        <a
                                                href="/CDEBrowser/" target="_top">
                                            <img
                                                    id="homeButton"
                                                    src="icons/buttonIconSet0/brown/circle_home.png"
                                                    alt="Home"
                                                    />
                                        </a>
                                        <br>
                                        &nbsp;Home&nbsp;
                                    </TD>

                                    <TD class="buttonCell" valign="TOP" align="CENTER" colspan=1>
                                        <a
                                                href="https://formbuilder.nci.nih.gov/FormBuilder/formSearchAction.do"
                                                target="_blank">
                                            <img id="formButton"
                                                 src="icons/buttonIconSet0/brown/circle_form.png"
                                                 alt="FormBuilder"
                                                    />
                                        </a>
                                        <br>
                                        &nbsp;FormBuilder&nbsp;
                                    </TD>

                                    <TD class="buttonCell" valign="TOP" align="CENTER" colspan=1>
                                        <a
                                                HREF="https://wiki.nci.nih.gov/display/caDSR/CDE+Browser+User+Guide"
                                                target="_blank">
                                            <img id="helpButton"
                                                 src="icons/buttonIconSet0/brown/circle_help.png"
                                                 alt="Task Help"
                                                    />
                                        </a>
                                        <br>
                                        &nbsp;Help&nbsp;
                                    </TD>
                                </TR>
                            </TABLE>
                        </td>
                        <!--  End Four buttons  -->


                    </tr>
                    <tr>

                        <TABLE  align ="right"  Cellpadding=6 Cellspacing=1 border=0 >
                            <tr>
                                <td  valign="bottom" align="center"  height="10" nowrap><span style="font-size: 9pt; font-family: Arial">
               <a class="toolLinks" href="http://cadsradmin.nci.nih.gov" target="_blank" >Admin Tool&nbsp;</a> </span></td>

                                <td  align="center" valign="bottom"  height="10" nowrap><span style="font-size: 9pt; font-family: Arial">
                <a class="toolLinks" href="https://cdecurate.nci.nih.gov" target="_blank">
                    Curation Tool&nbsp;</a></span>
                                </td>
                                <td  align="center" valign="bottom"  height="10" nowrap><span style="font-size: 9pt; font-family: Arial">
                <a class="toolLinks" href="http://ncim.nci.nih.gov/ncimbrowser" target="_blank" >
                    NCI Metathesaurus&nbsp;</a></span>
                                </td>
                                <td  align="center" valign="bottom"  height="10" nowrap><span style="font-size: 9pt; font-family: Arial">
                <a class="toolLinks" href="http://ncit.nci.nih.gov/ncitbrowser/start.jsf" target="_blank">
                    NCI Terminology Server&nbsp;</a></span>
                                </td>
                                <td  align="center" valign="bottom"  height="10" nowrap><span style="font-size: 9pt; font-family: Arial">
                <a class="toolLinks" href="https://cadsrsentinel.nci.nih.gov" target="_blank">
                    Sentinel Tool&nbsp;</a></span>
                                </td>
                                <td  align="center" valign="bottom" height="10" nowrap><span style="font-size: 9pt; font-family: Arial">
                <a class="toolLinks" href="http://umlmodelbrowser.nci.nih.gov" target="_blank">
                    UML Model Browser&nbsp;</a></span>
                                </td>

                                <td height="10" valign="bottom" nowrap><span style="font-size: 10.0pt; font-family: Arial">
                &nbsp;&nbsp;<A class="toolLinks" HREF="https://wiki.nci.nih.gov/display/caDSR/CDE+Browser+4.0.4+Release+Notes" target="_blank">
                                    What's new</a>&nbsp;&nbsp;</span>
                                </td>
                                <td height="10" valign="bottom" align="right" nowrap><span style="font-size: 10.0pt; font-family: Arial">
                <A class="toolLinks" HREF="https://wiki.nci.nih.gov/x/AbH9AQ" target="_blank">
                    Available Downloads<sup><font color="red"><b>New!</b></font></sup></a>&nbsp;&nbsp;</span>
                                </td>

                            </tr>
                        </table>


                        <!--
                        <TD colspan=1>
                        <td align="right">
                            Tools:

                            <select id="ddlViewBy">
                                <option value="1">Admin Tool</option>
                                <option value="2">Curation Tool</option>
                                <option value="3">NCI Metathesaurus</option>
                                <option value="3">NCI Terminology Server</option>
                                <option value="3">Sentinel Tool</option>
                                <option value="3">UML Model Browser</option>
                                <option value="3">Available Downloads</option>
                            </select>
                        </td>
                        </TD>
-->
                    </tr>
                </table>
                <!-- End Logo and four buttons -->
            </td>
        </tr>
    </table>
</div>

<!-- =============================================================================== -->

<div data-ng-app="cdeBrowserApp" data-ng-controller="cdeBrowserController" ng-cloak class="ng-cloak">

    <!--  Status message at top  -->
    <div id="topStatusMessage"
         data-ng-class="{
             bigMessage: bigMessageClass,
             normMessage: (! bigMessageClass)
             }">
        <br><br><br>
        {{waitMessage}}
    </div>


    <!-- The tabs across the top -->
    <div id="topTabPos">
        <ul>
            <!--
                Just getting the parent top level nodes for the top tabs  nodeNumber is counter,
                node is the actual node, we just need the text for the tabs
            -->
            <div data-ng-repeat="(nodeNumber, node) in contextListMaster">

                <li id="top_tabs"
                    data-ng-mouseenter="hover = true"
                    data-ng-mouseleave="hover = false"
                    data-ng-class="{
                        tabActive:   isActiveTab(nodeNumber),
                        tabHover: (! isActiveTab(nodeNumber)) &&  hover,
                        tabNormal:   (! isActiveTab(nodeNumber)) &&  (! hover )
                        }"
                    data-ng-click="onClickTab(nodeNumber)">
                    &nbsp;{{node.text}}&nbsp;
                </li>

            </div>
        </ul>
    </div>

    <!-- tree menu(s) for each tab -->
    <div id="tabWrapper">

        <!--  contextListMaster[nodeNumber].children is entire tree for each parent node.  -->
        <div data-ng-repeat="(nodeNumber, node) in contextListMaster">

            <div class="treeMenu" data-ng-show=show[nodeNumber]
                 data-ng-style="resizeHeight()"
                 resize
                 notifier="notifyServiceOnChange(params)"
                    >

                <div class="tabCaptionWrapper">
                    <div data-ng-repeat="(nodeNumber, node) in contextListMaster">
                        <div class="tabCaption" data-ng-show=show[nodeNumber]>{{node.hover}}</div>
                    </div>
                </div>

                <div
                        data-cdebrowser-treeview="true"
                        data-tree-id="tree"
                        data-tree-model="contextListMaster[nodeNumber].children"
                        data-node-action="href"
                        data-node-childType="childType"
                        data-node-isParent="isParent"
                        data-node-type="type"
                        data-node-label="text"
                        data-node-hover="hover"
                        data-node-children="children">
                </div>
            </div>
        </div>
    </div>

    <!-- =============================================================================== -->
    <!--  Right side,  search and search results.  -->
    <div id="resultsDisplay" data-ng-show="initComplete"
         data-ng-style="resizeHeight()"
         resize
         notifier="notifyServiceOnChange(params)"
            >

        <!--  Radio buttons "Exact phrase", "All of the words", "At least one of the words"  -->
        <div class="queryTypeRadioButtons">
             <label data-ng-repeat="qType in searchQueryTypes">
                <div>
                    <input
                            name="selectedQueryType"
                            type="radio"
                            value="{{qType.id}}"
                            data-ng-model="$parent.selectedQueryType"/>
                    {{qType.name}}
                </div>
            </label>
        </div>


        <!-- Search field drop down, text input, search & clear button  -->
        <div class="searchInput">
            <input id="basicSearchQuery" type="text" data-ng-model="basicSearchQuery"/>

            <select id="basicSearchField"
                    data-ng-model="queryField"
                    data-ng-options="qField.id as qField.name for qField in searchFieldsBasic">
            </select>
            <br>

            <button id="searchButton"
                    data-ng-click="onClickBasicSearch(basicSearchQuery, queryField, selectedQueryType )">
                Search
            </button>
            <button id="clearSearchQueryButton" data-ng-click="basicSearchQuery=''">
                Clear
            </button>
        </div>

        <hr>
        <span
                data-ng-class="{
             bigSearchResultsMessage: bigSearchResultsMessageClass,
             normmSearchResultsMessage: (! bigSearchResultsMessageClass)
             }">
            {{searchResultsMessage}}
        </span><div class="breadCrumbs" ng-show="haveSearchResults">Results: {{tableParams.count()}}</div>
        <div class="breadCrumbs">
            <br >
            <span ng-show="breadCrumbs">
                <span ng-repeat="b in breadCrumbs">
                    {{b}}<span ng-show="!$last"> >></span>
                </span><br /><br />
            </span> 
        </div>
        <div id="searchResults" data-ng-show="haveSearchResults">  
        <div class="breadCrumbs" ng-repeat="(key,val) in tableParams.sorting()">Sort Order: {{sortNames[key]}} [{{val}}]</div> 
    <div ng-table-pagination="tableParams" template-url="'ng-table/pager.html'"></div><br />
    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
    </script>

      <table ng-table="tableParams" class="searchResultsTable">
            <tr class="searchResultsTableTr" ng-repeat="result in $data">
                    <td header="'ng-table/headers/checkbox.html'">
                       <input type="checkbox" ng-model="checkboxes.items[result.publicId]">
                    </td>

                    <td data-title="'Long Name'" sortable="'longName'" class="searchResultsTableTd" width="15%">
                        <a class="searchResultsLink" href="" data-ng-click="onClickCdeDetails(result.deIdseq)">{{result.longName}} </a>
                    </td>
                    <td data-title="'Preferred Question Text'" sortable="'preferredQuestionText'" class="searchResultsTableTd" width="17%">{{result.preferredQuestionText}}</td>
                    <td data-title="'Owned By'" sortable="'ownedBy'" class="searchResultsTableTd" width="10%">{{result.ownedBy}}</td>
                    <td data-title="'Used By Context'" sortable="'usedByContext'" class="searchResultsTableTd" width="14%">{{result.usedByContext}}</td>
                    <td data-title="'Registration Status'" sortable="'registrationSort'" class="searchResultsTableTd" width="14%">{{result.registrationStatus}}</td>
                    <td data-title="'Workflow Status'" sortable="'workflowSort'" class="searchResultsTableTd" width="14%">{{result.workflowStatus}}</td>
                    <td data-title="'Public ID'" sortable="'publicId'" class="searchResultsTableTd" width="10%">{{result.publicId}}</td>
                    <td data-title="'Version'" sortable="'version'" class="searchResultsTableTd" width="7%">{{result.version}}</td>
                </tr>
        </table>
        </div>
    </div>
</div>
</body>
</html>
