.searchResultsTable {
    border-collapse: collapse;
    margin-top: 3px;
    /*border: 2px solid #ff0000;*/
    width: 100%;
    font-size: 10pt;
}
.searchResultsTableTr {
    border: 2px solid #80a3c0;
    /*
    3E6a84
    */
    color: #eeeeff;
    font-style: normal;
    font-size: 12pt;


}

.searchResultsTableHeaderTr {
    border: 2px solid #80a3c0;
    background-color: #18344d;
    color: #ffffcc;
    font-style: normal;
    font-size: 12pt;
}



.searchResultsTableTd {
    border: 1px solid #80a3c0;
    padding: 5px;

}
.searchResultsTableTh {
    border: 1px solid #80a3c0;
    padding: 5px;
}

/*

#searchResultsMessage {
    background-color: #18344d;
    color: #ff0099;
    font-style: normal;
    font-size: 12pt;
}

*/
.bigSearchResultsMessage {
    margin-left: 5px;
    background-color: #1A4660;
    color: #ffffff;
    font-style: oblique;
    font-size: 24pt;

}

.normmSearchResultsMessage {
    margin-left: 5px;
    background-color: #1A4660;
    color: #ffffff;
    font-style: normal;
    font-size: 12pt;


}