
/* Notice to the user towards the top of the Search pane - "Searching", "No results", etc. */
.bigSearchResultsMessage {
    margin-left: 5px;
    background-color: #fff;
    color: #1A4660;
    font-size: 16pt;
}

.normSearchResultsMessage {
    margin-left: 5px;
    background-color: #fff;
    color: #1A4660;
    font-size: 12pt;
}


/* The Results table */
.searchResultsTable {
    border-collapse: collapse;
    margin-top: 3px;
    width: 100%;
    font-size: 10pt;
}

.searchResultsTableTr {
    border: 2px solid #fff;
    color: #000;
    font-style: normal;
    font-size: 11pt;
}

.searchResultsTableHeaderTr {
    border: 2px solid #000;
    background-color: #cccc99;
    color: #000;
    font-style: normal;
    font-size: 12pt;
}

.searchResultsTableTd {
    border: 1px solid #80a3c0;
    padding: 5px;
}

.searchResultsTableTh {
    border: 1px solid #80a3c0;
    padding: 5px;
}

/** override some ng-table styles **/
.searchResultsLink:link, .searchResultsLink:active, .searchResultsLink:visited {
    color: #663300;
}

.ng-table tr {
    border: 1px solid #000;
    background-color: #f7f7e6;
}

.ng-table td {
    border: 1px solid #000;
}

.ng-table th {
    /** change th to match existing style **/
    border: 1px solid #000;
    background-color: #cccc99;
    color: #663300;
    font-style: normal;
    font-size: 100%;
    padding: 10px 2px 10px 2px;
}

.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
    /** change background color of headers, remove text shadow **/
    background-color: #cccc99;
    text-shadow: none;
}

.ng-table th.sortable.sort-desc .sort-indicator:after {
    /** set opacity to full, color to white for desc indicators **/
    border-top: 4px solid #fff;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.ng-table th.sortable.sort-asc .sort-indicator:after,
.ng-table th.sortable.sort-asc .sort-indicator:hover:after {
    /** set hover opacity to full, color to white for asc indicators **/
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.ng-table th.sortable .sort-indicator:after,
.ng-table th.sortable .sort-indicator:before {
    /** change color of sort indicators to white, set them to full opacity **/
    content: "";
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #fff transparent;
    visibility: visible;
    right: 5px;
    top: 50%;
    position: absolute;
    opacity: 1;
    margin-top: -4px;
}

.ng-table th.sortable .sort-indicator:before {
    /** set color of indicator to white **/
    margin-top: 2px;
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

.pagination.ng-table-pagination {
    /** add padding to list element to move it down below table, align to right **/
    margin: 0;
    padding: 12px 0 0 0;
    list-style-type: none;
    text-align: right;
}

.pagination.ng-table-pagination li {
    /** display inline to allow li elements to be horizontal **/
    display: inline;
}

.pagination.ng-table-pagination li a {
    /** remove text decoration, change background color and color of text **/
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #3E6A84;
}

.pagination.ng-table-pagination li.active a {
    background-color: #1A4660;
}

/** end override ng-table styles **/

/** breadcrumb style **/
.breadCrumbs {
    padding-left: 5px;
    font-weight: 500;
    color: #663300;
}

/** position reset and sort order text on page **/
.sortOrder {
    position: relative;
    width: 100%;
}

.sortOrder.left {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
}

.sortOrder.right {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
}

#searchResults {
    padding-left: 4px;

    /*margin-top:5px;*/
    /* Push down label - Sort Order: etc.*/
    color: #663300;
}

#footer {
    background-color: #336699;
    font-size: 80%;
    margin-top: 10px;
    /*
    margin-right: 10px;
    margin-left: 10px;
    */
    color: #fff;
}

#footer td {
    width: 21%;
}

#footer td.last {
    width: 37%;
}

#footer .userName {
    color: #F7F7E6;
}

#footer a {
    color: #F7F7E6
}
