body {
    background: #3E6a84;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:link {
    color: #ffcccc;
}

a:visited {
    color: #ffcccc;
}
a:active {
    color: #ffffff;
}
a:hover {
    color: #ffffcc;

}

.hdrBG { /* for the cell that contains the required cancer.gov header */
  background-color: #a90101; /* constant: red */
}

#topStatusMessage {
    background-color: #3E6a84;
    color: #ffffff;
    /*
        position: fixed;
        top: 84px;
        left: 2px;
    */

}

.bigMessage {
    font-size: 28px;
    font-weight: bold;

}

.normMessage {
    font-size: 14px;
    font-weight: normal;
}

.topButtons {
    background-color: #3E6a84;
    height: 90px;
}

#resultsDisplay {
    background-color: #1A4660;
    color: #ffffff;

    /*  Top of display pane  */

    margin-top: 51px;  /*needs to match .treeMenu */
    overflow-x: scroll ;
    overflow-y: scroll;
    resize: horizontal;
}

/* The tree for each tab  (with in treeWindow class)  */
.treeMenu {
    float: left;
    /* top of tree menu pane  */
    margin-top: 51px;

    font-size:16px;
    padding-left: 0;
    padding-right: 0;

    /* The Starting/default width of the Tree menu pane */
    width: 25%;

    overflow-x: scroll ;
    overflow-y: scroll;
    resize: horizontal;
    /*
        background-color:  #1A4660;
    */
    background-color:  #1A4660;
    color: #ffffff;

    /* Spacing for each line, not the actual line. */
    line-height: 24px;
}


/*  **********************************  */

.queryTypeRadioButtons {
    float: left;
    width: 220px;
    padding-top: 4px;
    margin-top: 0;
}

.searchInput{
    margin-left: 250px;
    padding-top : 4px;
    margin-top: 0;
}