body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, Geneva, sans-serif;

    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:link {
    color: #18344d;
}

a:visited {
    color: #18344d;
}

a:active {
    color: #1A4660;
}

a:hover {
    color: #1A4660;
}

/* for the cell that contains the required cancer.gov header */
.hdrBG {
    background-color: #a90101; /* constant: red */
}

/* The initial loading message or error message  */
.bigMessage {
    font-size: 28px;
    font-weight: bold;
    background-color: #fff;
    color: #18344d;
    position: fixed;
    top: 156px;
}

.normMessage {
    font-size: 14px;
    font-weight: normal;
    background-color: #fff;
    color: #18344d;
    position: fixed;
    top: 156px;
}

.errorMessage {
    font-size: 22px;
    font-weight: normal;
    color: #800;
    background-color: #fff;
    position: fixed;
    top: 156px;
}

.topButtons {
    color: #000;
    height: 90px;
}

/* The four round buttons - top right */
.buttonCell {
    background-color: #fff;
    color: #a52a2a;
    font-size: 10pt;

}

.toolLinks:link, .toolLinks:visited, .toolLinks:active, .toolLinks:hover {
    color: #663300;
}


/* Search results pane to the right of the Tree menu pane  */
.resultsDisplay {
    color: #000;
    padding-left: 15px;

    /*  Top of display pane  */
    margin-top: 58px; /* needs to match .treeMenu.  If you change this, you will also need to change .topTabPos */

    overflow-x: scroll;
    overflow-y: scroll;
    resize: horizontal;
}

/* The tree for each tab  (within treeWindow class)  */
.treeMenu {
    float: left;
    /* top of tree menu pane  */
    margin-top: 58px; /* needs to match .resultsDisplay.  If you change this, you will also need to change .topTabPos*/
    margin-left: 6px;

    font-size: 13px;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;

    /* The Starting/default width of the Tree menu pane */
    width: 25%;

    overflow-x: scroll;
    overflow-y: scroll;
    resize: horizontal;

    /* Tree menu colors  */
    background-color: #f7f7e6;
    color: #18344d;

    /* Spacing for each line, not the actual line. */
    line-height: 24px;
}

/* The search query input and options */
.queryTypeRadioButtons {
    font-size: 11pt;
    color: #18344d;
    float: left;
    width: 220px;
    padding-top: 4px;
    margin-top: 16px;
}

.searchInput {
    color: #18344d;
    margin-left: 250px;
    padding-top: 4px;
    margin-top: 16px;
}

.basicSearchQuery {
    width: 70%;
}
.searchTips {
    font-size: 8pt;
}
.basicSearchField {
    margin-right: 10px;
    width: 80px;
}

.cdeTabs {
    background-color: #336699;
}
