body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:link {
    color: #18344d;
}

a:visited {
    color: #18344d;
}
a:active {
    color: #1A4660;
}
a:hover {
    color: #1A4660;

}

.hdrBG { /* for the cell that contains the required cancer.gov header */
  background-color: #a90101; /* constant: red */
}

#topStatusMessage {
    background-color: #fff;
    color: #18344d;
    /*
        position: fixed;
        top: 84px;
        left: 2px;
    */

}

.bigMessage {
    font-size: 28px;
    font-weight: bold;

}

.normMessage {
    font-size: 14px;
    font-weight: normal;
}

.topButtons {
    background-color: #fff;
    color: #000;
    height: 90px;
}

/* The four round buttons - top right */
.buttonCell {
    background-color: #fff;
    color: #000;
}

#resultsDisplay {
    background-color: #fff;
    color: #000;

    /*  Top of display pane  */

    margin-top: 29px;  /* needs to match .treeMenu */
    overflow-x: scroll ;
    overflow-y: scroll;
    resize: horizontal;
}

/* The tree for each tab  (with in treeWindow class)  */
.treeMenu {
    float: left;
    /* top of tree menu pane  */
    margin-top: 29px;

    font-size:16px;
    padding-left: 0;
    padding-right: 0;

    /* The Starting/default width of the Tree menu pane */
    width: 25%;

    overflow-x: scroll ;
    overflow-y: scroll;
    resize: horizontal;

    /* Tree menu colors  */
    background-color:  #f7f7e6;
    color: #18344d;

    /* Spacing for each line, not the actual line. */
    line-height: 24px;
}


/*  **********************************  */

.queryTypeRadioButtons {
    color: #18344d;
    float: left;
/*
    width: 220px;
*/
    width: 220px;
    padding-top: 4px;
    margin-top: 16px;
}

.searchInput{
    color: #18344d;
    margin-left: 250px;
    padding-top : 4px;
    margin-top: 16px;
}

#basicSearchQuery {
    width: 70%;
}

#basicSearchField {
    float: right;
    margin-right: 10px;
    width: 70px;
}