body {
    background: #3E6a84;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Mouse over and not selected */
.tabHover {
    background: #325e78;
    color: #ffffef;

}

/*  The selected tab  */
.active {
    background: #1A4660;
    color: #FFFFFF;
}

.normal {
    background-color: #3E6a84;
    color: #ffffff;
}

.topButtons {
    color: #ffffff;
}

/* The tree menus under the tabs  */
/*.treeWindow {

    background: #00ff77;
    color: #FFFFFF;
    position: fixed;
    top: 128px;
    left: 2px;
    width: 98%;

}*/

#topTabPos {
    position: fixed;
    top: 105px;
    left: 2px;
    width: 100%; /* FIXME make this dynamicly match the size of the tree menu frame */

/*
This puts the tabs behind the search buttons.

Need might to do this after we can dynamically width style of the results frame
    z-index: -1;
*/
}

#top_tabs {
    height: 16px;
    float: left;
 /*
    position: fixed;
*/

    /* Rounded corners */
    border-top-left-radius : 3px;
    border-top-right-radius : 3px;
    border: 1px outset #1A4660;
    /*
        border: 1px solid #6ebae6 ;
    */
    border-bottom-width: 0;
    /*  Tab spacing */
    margin: 3px 3px 0px 3px;
    padding: 5px 8px 4px 8px;

/*
    background-color: #3E6a84;
    color: #ffffff;
*/

}
