<div ng-controller="SearchPreferencesController">
	<div class="searchPreferences">
		<div>
			<!-- <span class="searchPreferencesBorder"> -->
				<label class="searchPreferencesInput">
				    Exclude Context
				</label>
				<label for="exclude_test" class="searchPreferencesInput"><input type="checkbox" class="paddingInput" id="exclude_test" ng-model="searchPreferencesCheckboxModel.excludeTest" />
				Test
				</label>
				<label for="exclude_training" class="searchPreferencesInput"><input id="exclude_training" type="checkbox" class="paddingInput" ng-model="searchPreferencesCheckboxModel.excludeTraining"/>
				Training
				</label>
			<!-- </span> -->
		     <div>
		    	<div class="searchPreferencesList">
		    		<label class="searchPreferencesListMainHeadWorkflow">Workflow Status(es)</label>
		    		<label class="searchPreferencesListMainHeadRegistration">Registration Status(es)</label>
		    		<div>
		    			<label class="searchPreferencesListWorkflowHeadIncluded">Included</label>
			    		<label class="searchPreferencesListWorkflowHeadExcluded">Excluded</label>
			    		<label class="searchPreferencesListRegistrationHeadIncluded">Included</label>
			    		<label class="searchPreferencesListRegistrationHeadExcluded">Excluded</label>
			    	</div>
			    	<div class="dragDrop searchPreferencesBox roundInput">
				    	<div ng-repeat="list in models">
			    			<ul dnd-list="list.items" dnd-allowed-types="list.allowedTypes" dnd-drop="onDrop(list, item, index)" ng-class={true:'test-class'}[$index==1]>
							    <li ng-repeat="item in list.items"
							        dnd-draggable="getSelectedItemsIncluding(list, item)"
							        dnd-dragstart="onDragstart(list, event)"
							        dnd-moved="onMoved(list)"
							        dnd-dragend="list.dragging = false"
							        dnd-selected="item.selected = !item.selected"
							        dnd-type="item.type"
							        ng-class="{'selected': item.selected}"
							        ng-hide="list.dragging && item.selected"
							        >
							        {{item.label}}
							    </li>
							</ul>
						</div>
					</div>
			    </div>
		  	</div>
		</div>
	<div class="searchPreferencesButton">
		<span class="searchAndClearButton">
			<button class="btn btn-default" ng-disabled="fs.isSearching" ng-click="searchPreferencesSaveButton()">Save</button>
		</span>
		<span class="searchAndClearButton rightButton">
			<button class="btn btn-default" ng-disabled="fs.isSearching" ng-click="searchPreferencesResetButton()">Reset to default</button>
		</span>
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85797083-1', 'auto');
  ga('send', 'pageview');

</script>