<div ng-controller="SearchPreferencesController">
	<div class="searchPreferences">
		<div>
			<!-- <span class="searchPreferencesBorder"> -->
				<label class="searchPreferencesInput">
				    Exclude Context
				</label>
				<label class="searchPreferencesInput"><input type="checkbox" class="paddingInput" ng-model="searchPreferencesCheckboxModel.test"/>
				Test
				</label>
				<label class="searchPreferencesInput"><input type="checkbox" class="paddingInput" ng-model="searchPreferencesCheckboxModel.training"/>
				Training
				</label>
				<!-- </span> -->
		     <div>
		    	<div class="searchPreferencesList">
		    		<label class="searchPreferencesListMainHead">Workflow Status(es)</label>
		    		<label class="searchPreferencesListMainHead">Registration Status(es)</label>
		    		<div>
		    			<label class="searchPreferencesListWorkflowHead">Included</label>
			    		<label class="searchPreferencesListWorkflowHead">Excluded</label>
			    		<label class="searchPreferencesListRegistrationHead">Included</label>
			    		<label class="searchPreferencesListRegistrationHead">Excluded</label>
			    	</div>
			    	<div class="dragDrop searchPreferencesBox roundInput">
				    	<div ng-repeat="list in models">
			    			<ul dnd-list="list.items" dnd-allowed-types="list.allowedTypes" dnd-drop="onDrop(list, item, index)">
							    <li ng-repeat="item in list.items"
							        dnd-draggable="getSelectedItemsIncluding(list, item)"
							        dnd-dragstart="onDragstart(list, event)"
							        dnd-moved="onMoved(list)"
							        dnd-dragend="list.dragging = false"
							        dnd-selected="item.selected = !item.selected"
							        dnd-type="item.type"
							        ng-class="{'selected': item.selected}"
							        ng-hide="list.dragging && item.selected"
							        >
							        {{item.label}}
							    </li>
							</ul>
						</div>
					</div>
			    </div>
		  	</div>
		</div>
	<div class="searchPreferencesButton">
		<button ng-click="">Save</button>
		<button ng-click="">Reset to default</button>
	</div>
</div>
