/* to give us a border touching the bottom of the tabs, we need to push down via margin-top */
.cdeSearchTabsView {
    border-radius: 0px 3px 3px 3px;
    border: 1px solid #1A4660;
    margin-left:3.5px;
    margin-top: 30px;
    margin-right: 6px;
    padding-bottom: 15px; /* push the bottom down enough to make room for paging buttons */
    padding-right: 5px;
}

.cdeTabsUl {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cdeTabsLi {
    float: left;
    /* Tabs text font size  */
    font-size: 10pt;

    height: 16px;
    background-color:#bbb;
    /* Rounded corners */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px outset #1A4660;
    /*
        border: 1px solid #6ebae6 ;
    */
    border-bottom-width: 0;
    /*  Tab spacing */
    margin: 3px 3px 0px 3px;
    padding: 5px 8px 21px 8px;

}

.cdeTabsLi:disabled {
    background:#bbb;
}

.active {
    background-color: #FFF;
    color: #000;
}

/* Mouse over and not selected */
.tabHover {
    background: #325e78;
    color: #ffffef;

}

/*  The selected tab  */
.tabActive {
    background: #1A4660;
    color: #FFFFFF;
}

.tabNormal {
    background-color: #bbb; /* color: #336699; */
    color: #4A4A4A;
}

.tabDisabled {
    /*  I can't seem to over ride the ng-disabled background-color */
    background-color: #ffff00;
    color: #887f7f;
}

.tabFocused {
    background-color:#BBB;
    color:#4a4a4a;
}

.dataElementViewTable {

    width: 90%;
    background-color: #999966;
}


.dataElementViewTableWithScroller {
    position: relative;
    left: 5%;
    width: 90%;
    max-height: 264px;
    overflow-y: scroll;
    background-color: #999966;
}


.dataElementViewTableTr {
    font-size: 10pt;
    background: #f7f7e7;
    color: #000000;
    font-family: Arial, Helvetica, Geneva, sans-serif;
}

.dataElementDescription {
    /*
    width: 25%;
    */
    FONT-WEIGHT: bold;
    font-size: 10pt;
    color: #2b5681; /* color: #336699; */
    font-family: Arial, Helvetica, Geneva, sans-serif;
    background-color: #cccc99;
    text-align: right;
}

.dataElementHeading {
 /*
 FIXMENOW Color contrast fail!  try 2b5681
   width: 25%;
*/
    FONT-WEIGHT: bold;
    font-size: 10pt;
    color: #2b5681; /* color: #336699; */
    font-family: Arial, Helvetica, Geneva, sans-serif;
    background-color: #cccc99;
    text-align: left;
}

.dataElementSubHeading {
    width: 25%;
    FONT-WEIGHT: bold;
    font-size: 10pt;
    color: #2b5681; /* color: #336699; */
    font-family: Arial, Helvetica, Geneva, sans-serif;
    background-color:#fff;
    text-align: left;
}

.dataElementValue {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 9pt;
    color: #000000
}

.cdeDetailsSubHeadingTable {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 14pt;
    color: #2b5681; /* color: #336699; */
    width: 90%;
    border: none;
    font-weight: bold
}

.cdeDetailsSubHeading {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 14pt;
    color: #2b5681; /* color: #336699; */
    background-color: #fff;
    border: none;
    font-weight: bold
}

.cdeDetailsSubSubHeading {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 10pt;
    color: #2b5681; /* color: #336699; */
    background-color: #f7f7e7;
    border: none;
    font-weight: bold
}

.cdeDownloadButtons li{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

ul.cdeProgressMessage {
    padding:15px 0px 5px 5px;
    color:#1A4660;
    font-weight:bold;
    list-style:none;
}
ul.cdeProgressMessage li{
    display:inline;
    vertical-align:top;
}

ul.cdeSearchMessage {
    padding:15px 0px 5px 5px;
    list-style:none;
}

ul.cdeProgressMessage.error{
    color:#A52A2A;
}

div.cdeProgressMessage.error {
    padding:0px 0px 20px 0px;
    color:#A52A2A;
}

ul.cdeSearchMessage li{
    display:inline;
    vertical-align:top;
}

.cdeSearchTabs {
    padding-top:20px;
}

.cdeSearchTabs button{
    border:1px solid #1a4660;
}

#cdeSearchArea {
    border:1px solid #1a4660;
    border-radius:0px 3px 3px 3px;
    margin-top:30px;
    margin-left:3px;
    margin-right:6px;
    padding-bottom:10px;
}
#cdeSearchArea span {
    display:inline-block;
    vertical-align:top;
}
#cdeSearchArea div.view {
    border:1px solid white;
}

#cdeSearchArea .filters {
    margin:10px 0px 0px 15px;
    max-width:780px;
}

#cdeSearchArea .filters span.clear {
    float:right;
    margin-right:20px;
}

#cdeSearchArea .filters * {
    font-size:12px;
    height:auto;
}
#cdeSearchArea .filters .btn {
    font-size:12px;
}

#cdeSearchArea .filters .form-control {
    font-size:12px;
    height:29px;
}

#cdeSearchArea .filters select {
    width:170px;
}

#cdeSearchArea .filters .staticText {
    font-size:80%;
    padding-left:14px;
    padding-right:12px;
}

.cdeSearchPreferences {
    padding:5px;
}

.cdeSearchPreferences ul {
    list-style:none;
}
.cdeSearchPreferences ul li{
    display:inline-block;
    vertical-align:top;
    padding:10px;
}

.views div.tab{
    display:inline-block;
    border:1px solid #1a4660;
    background-color:#1a4660;
    color:#fff;
    padding:5px 15px 5px 15px;
    border-radius:5px 5px 0px 0px;
    font-size:10pt;margin-top:0px;
    margin-left:3px;
}

.views div.body{
    padding:15px;
    border:1px solid #1a4660;
    border-radius:0px 3px 3px 3px;
    margin-left:3px;
    margin-right:6px;
}

#cdeCart .headerText {
    font-size:80%;
    padding-bottom:10px;
    display:block;
    margin-left:3px;
}

#cdeCart .header {
    vertical-align:top;
    padding:5px 5px 5px 5px;
}

#cdeCart .searchResultsTableTd {
    vertical-align:top;
}

#cdeCart .searchResultsTableTd span {
    display:block;
    width:auto;
    padding:4px 0px 0px 0px;
    font-size:85%;
    text-align:center;
}

#cdeCart .emptyCart {
    margin-left:3px;
    color:#1a4660;
    font-weight:bold;
}

#cdeCart div {
    padding-bottom:10px;
}

#cdeCart .searchResultsTable {
    margin-left:3px !important;
    margin-top:13px;
}

#cdeCart div.progressMessage {
    color:#1A4660;
    font-weight:bold;
    vertical-align:top;
    margin:0px;
    padding:10px 0px 10px 4px;
}

#cdeCart div.progressMessage div {
    display:inline-block;
    margin:0px;
    padding:0px;
    vertical-align:top;
}
