/* to give us a border touching the bottom of the tabs, we need to push down via margin-top */
.cdeSearchTabsView {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 2px solid #1A4660;
    border-top-width: 3px;

    margin-top: 29px;
    padding-bottom: 15px; /* push the bottom down enough to make room for paging buttons */
    padding-right: 5px;
}

.cdeTabsUl {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cdeTabsLi {
    float: left;
    /* Tabs text font size  */
    font-size: 10pt;

    height: 16px;

    /* Rounded corners */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px outset #1A4660;
    /*
        border: 1px solid #6ebae6 ;
    */
    border-bottom-width: 0;
    /*  Tab spacing */
    margin: 3px 3px 0px 3px;
    padding: 5px 8px 21px 8px;

}

.cdeTabsLi:disabled { 
    background:#bbb;
}

.active {
    background-color: #FFF;
    color: #000;
}

/* Mouse over and not selected */
.tabHover {
    background: #325e78;
    color: #ffffef;

}

/*  The selected tab  */
.tabActive {
    background: #1A4660;
    color: #FFFFFF;
}

.tabNormal {
    background-color: #2b5681; /* color: #336699; */
    color: #ffffff;
}

.tabDisabled {
    /*  I can't seem to over ride the ng-disabled background-color */
    background-color: #ffff00;
    color: #4a4a4a;
}

.tabFocused {
    border-top-width: 3px;
    border-top-color: #000;

    border-right-width: 3px;
    border-right-color:  #000;

    background-color: #2b5681; /* color: #336699; */
    color: #ffffbd;

}

.dataElementViewTable {

    width: 90%;
    background-color: #999966;
}


.dataElementViewTableWithScroller {
    position: relative;
    left: 5%;
    width: 90%;
    max-height: 264px;
    overflow-y: scroll;
    background-color: #999966;
}


.dataElementViewTableTr {
    font-size: 10pt;
    background: #f7f7e7;
    color: #000000;
    font-family: Arial, Helvetica, Geneva, sans-serif;
}

.dataElementDescription {
    /*
    width: 25%;
    */
    FONT-WEIGHT: bold;
    font-size: 10pt;
    color: #2b5681; /* color: #336699; */
    font-family: Arial, Helvetica, Geneva, sans-serif;
    background-color: #cccc99;
    text-align: right;
}

.dataElementHeading {
 /*
 FIXMENOW Color contrast fail!  try 2b5681 
   width: 25%;
*/
    FONT-WEIGHT: bold;
    font-size: 10pt;
    color: #2b5681; /* color: #336699; */
    font-family: Arial, Helvetica, Geneva, sans-serif;
    background-color: #cccc99;
    text-align: left;
}

.dataElementSubHeading {
    width: 25%;
    FONT-WEIGHT: bold;
    font-size: 10pt;
    color: #2b5681; /* color: #336699; */
    font-family: Arial, Helvetica, Geneva, sans-serif;
    background-color:#fff;
    text-align: left;
}

.dataElementValue {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 10pt;
    color: #000000
}

.cdeDetailsSubHeadingTable {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 14pt;
    color: #2b5681; /* color: #336699; */
    width: 90%;
    border: none;
    font-weight: bold
}

.cdeDetailsSubHeading {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 14pt;
    color: #2b5681; /* color: #336699; */
    background-color: #fff;
    border: none;
    font-weight: bold
}

.cdeDetailsSubSubHeading {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 10pt;
    color: #2b5681; /* color: #336699; */
    background-color: #f7f7e7;
    border: none;
    font-weight: bold
}

.cdeDownloadButtons li{
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

ul.cdeProgressMessage {
    padding:20px 10px 10px 5px;
    color:#1A4660;
    font-weight:bold;
    list-style:none;
}
ul.cdeProgressMessage li{
    display:inline;
    vertical-align:top;
}

.cdeSearchTabs {
    padding-top:20px;
}

.cdeSearchTabs button{
    border:1px solid #1a4660;
}
#cdeSearchArea {
    border:1px solid #1a4660;
    border-radius:0px 3px 3px 3px;
    margin-top:30px;
    margin-left:3px;padding-bottom:10px;
}

.cdeSearchPreferences {
    padding:5px;
}

.cdeSearchPreferences ul {
    list-style:none;
}
.cdeSearchPreferences ul li{
    display:inline-block;
    vertical-align:top;
    padding:10px;
}