<!--  Radio buttons "Exact phrase", "All of the words", "At least one of the words"  -->
<span ng-controller="GenericSearchController">
<div class="queryTypeRadioButtons">
    <label data-ng-repeat="qType in searchQueryTypes">
        <div>
            <input
                    name="selectedQueryType"
                    type="radio"
                    value="{{qType.id}}"
                    data-ng-model="$parent.selectedQueryType"/>
            {{qType.name}}
        </div>
    </label>
</div>

<!-- Search field drop down, text input, search & clear button  -->
<div class="searchInput">
    <input class="basicSearchQuery" type="text" data-ng-model="basicSearchQuery" placeholder="Name" />


    <button data-ng-click="onClickBasicSearch(basicSearchQuery, 0, selectedQueryType )">
        Search
    </button>
    <button data-ng-click="basicSearchQuery=''">
        Clear
    </button>
    <div class="searchTips">Tip: To search for partial words or phrases use the * as a wildcard.<BR>
        Note: Default settings excludes the Test Context view from the tree.
    </div>

</div>
</span>