<span ng-controller="GenericSearchController">

    <div class="dataElementGroup">
        <div class="searchInput">
            <label class="basicSearchName" for="name">Search Term</label>
            <input ng-disabled="fs.isSearching" class="basicSearchQuery roundInput" type="text" data-ng-model="fs.dataElementVariables.basicSearchQuery" ng-keyup="searchKey(e=$event)" placeholder="Names and Definitions" uib-typeahead="result for result in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults"  />

            <span class="searchFieldDropDown" ng-show="activeSearchTab==0" ng-disabled="true">
                <select ng-disabled="fs.isSearching" ng-model="fs.dataElementVariables.searchFieldOptions.options" multiple="true" ng-change="setSelectedField()">
                    <option ng-repeat="o in options"" value="{{o}}">{{o}}</option>
                </select>
                <div class="searchFieldTip"><strong>Tip</strong>: Use Shift or Ctrl to select multiple fields.
                </div>
            </span>
        </div>

        <div class="queryTypeRadioButtons">
            <label data-ng-repeat="qType in searchQueryTypes">
                <div>
                    <input ng-disabled="fs.isSearching"
                            name="selectedQueryType"
                            type="radio"
                            value="{{qType.id}}"
                            data-ng-model="fs.dataElementVariables.selectedQueryType"/>
                    {{qType.name}}
                </div>
            </label>
            <div class="searchTips"><strong>Tip</strong>: To search for partial words or phrases, use the * (asterisk) as a wildcard.<BR>
                <strong>Note</strong>: Default settings exclude the Test and Training Context view from the tree.
            </div>
        </div>
    </div>

</span>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85797083-1', 'auto');
  ga('send', 'pageview');

</script>