<!--

<div id="searchDisplay" data-ng-show="initComplete"  >

-->
    <!--  Radio buttons "Exact phrase", "All of the words", "At least one of the words"  -->


<!--
<div id="searchResults" data-ng-show="haveSearchResults">
-->
    <div id="searchResults" data-ng-show="true">

        <div class="sortOrder">
            <div class="sortOrder left" ng-repeat="(key,val) in tableParams.sorting()">Sort Order: {{sortNames[key]}}
                [{{val}}]
            </div>

            <div class="sortOrder right">
                <a href="#" ng-click="resetSortOrder()">Reset Sort Order</a>
            </div>
        </div>
        <br/>
        <div ng-table-pagination="tableParams" template-url="'ng-table/pager.html'"></div>

        <br/>
        <script type="text/ng-template" id="ng-table/headers/checkbox.html">
            <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value=""/>
        </script>

        <table ng-table="tableParams" class="searchResultsTable">
            <tr class="searchResultsTableTr" ng-repeat="result in $data">
                <td header="'ng-table/headers/checkbox.html'">
                    <input type="checkbox" ng-model="checkboxes.items[result.publicId]">
                </td>

                <td data-title="'Long Name'" sortable="'longName'" class="searchResultsTableTd" width="15%">
                    <a class="searchResultsLink" href="" data-ng-click="onClickCdeDetails(result.deIdseq)">{{result.longName}} </a>
                </td>
                <td data-title="'Preferred Question Text'" sortable="'preferredQuestionText'"
                    class="searchResultsTableTd" width="17%">{{result.preferredQuestionText}}
                </td>
                <td data-title="'Owned By'" sortable="'ownedBy'" class="searchResultsTableTd" width="10%">
                    {{result.ownedBy}}
                </td>
                <td data-title="'Used By Context'" sortable="'usedByContext'" class="searchResultsTableTd"
                    width="14%">{{result.usedByContext}}
                </td>
                <td data-title="'Registration Status'" sortable="'registrationSort'" class="searchResultsTableTd"
                    width="14%">{{result.registrationStatus}}
                </td>
                <td data-title="'Workflow Status'" sortable="'workflowSort'" class="searchResultsTableTd"
                    width="14%">{{result.workflowStatus}}
                </td>
                <td data-title="'Public ID'" sortable="'publicId'" class="searchResultsTableTd" width="10%">
                    {{result.publicId}}
                </td>
                <td data-title="'Version'" sortable="'version'" class="searchResultsTableTd" width="7%">
                    {{result.version}}
                </td>
            </tr>
        </table>
    </div>
