<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>
        <mirror>
            <!-- This sends everything else to /public -->
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>https://ncimvn.nci.nih.gov/nexus/content/groups/public</url>
        </mirror>
        <mirror>
            <id>nexus3</id>
            <mirrorOf>nih.nci.cadsr,com.oracle</mirrorOf>
            <url>https://ncimvn.nci.nih.gov/nexus/content/repositories/thirdparty</url>
        </mirror>
    </mirrors>
    <pluginGroups>
        <!-- define the sonatype plugin group, so the nexus plugins will work without typing the groupId -->
        <pluginGroup>org.sonatype.plugins</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <!-- The defaults profile is just for development or ver generic builds. -->
            <id>defaults</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <connection-url>jdbc:oracle:thin:@${CADSR_DS_HOST}:${CADSR_DS_PORT}:${CADSR_DS_TNS.ENTRY}</connection-url>
                <CADSR_DS_USER>DEV_USER</CADSR_DS_USER>
                <CADSR_DS_PSWD>DEV_PW</CADSR_DS_PSWD>
                <tier>set tier at build time</tier>
                <!--
                  The scm_date gets updated in version.json by get_build_data.sh (called by Maven), which inserts the commit date of the source code in Git.
                -->
                <scm_date>local build-no auto-date</scm_date>
                <tag>set tag at build time</tag>
            </properties>
        </profile>

        <profile>
            <id>AHP</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <connection-url>jdbc:oracle:thin:@${CADSR_DS_HOST}:${CADSR_DS_PORT}:${CADSR_DS_TNS.ENTRY}</connection-url>
                <build-profile>AHP</build-profile>
            </properties>
        </profile>

        <profile>
            <id>DEV</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <connection-url>jdbc:oracle:thin:@${CADSR_DS_HOST}:${CADSR_DS_PORT}:${CADSR_DS_TNS.ENTRY}</connection-url>
                <build-profile>DEV</build-profile>
            </properties>
        </profile>

        <profile>
            <id>12cDEV</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <connection-url>jdbc:oracle:thin:@${CADSR_DS_HOST}:${CADSR_DS_PORT}/${CADSR_DS_TNS.ENTRY}</connection-url>
                <build-profile>12cDEV</build-profile>
            </properties>
        </profile>

        <profile>
            <id>QA</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <connection-url>jdbc:oracle:thin:@${CADSR_DS_HOST}:${CADSR_DS_PORT}:${CADSR_DS_TNS.ENTRY}</connection-url>
                <build-profile>QA</build-profile>
            </properties>
        </profile>

    </profiles>
</settings>
