<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 
  <mirrors>
    <mirror>
      <!-- This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>https://ncimvn.nci.nih.gov/nexus/content/groups/public</url>
    </mirror>
  </mirrors>
  <pluginGroups>
    <!-- define the sonatype plugin group, so the nexus plugins will work without typing the groupId -->
        <pluginGroup>org.sonatype.plugins</pluginGroup>
  </pluginGroups>
    <profiles>
        <profile>
            <id>defaults</id>
            <activation>
            <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <connection-url>jdbc:oracle:thin:@ncidb-d110-d.nci.nih.gov:1551:DSRDEV</connection-url>
                <CADSR_DS_USER>cdebrowser</CADSR_DS_USER>
                <CADSR_DS_PSWD>dsr#browser0225</CADSR_DS_PSWD>
                <tier>set tier at build time</tier>
                <scm_date>local build-no auto-date</scm_date>
                <tag>set tag at build time</tag>
            </properties>
        </profile>
        <profile>
            <id>AHP</id>
            <activation>
                <activeByDefault>false</activeByDefault>
            </activation>
            <properties>
                <connection-url>jdbc:oracle:thin:@${CADSR_DS_HOST}:${CADSR_DS_PORT}:${CADSR_DS_TNS.ENTRY}}</connection-url>
            </properties>
        </profile>
    </profiles>
</settings>