body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, Geneva, sans-serif;

    font-weight: normal;
    font-style: normal;
    line-height: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.focus {
    background: #ffff00;
}

a:link {
    color: #18344d;
}

a:visited {
    color: #18344d;
}

a:active {
    color: #1A4660;
}

a:hover {
    color: #1A4660;
}

/*  Testing */

.OraHeaderSubSub {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 12pt;
    color: #336699;
    font-weight: bold
}

/* Bootstrap Overrides */

.filters label {
    font-weight: normal !important;
}

/* The initial loading message or error message */

.bigMessage {
    font-size: 28px;
    font-weight: bold;
    background-color: #fff;
    color: #18344d;
    position: fixed;
    top: 156px;
}

.normMessage {
    font-size: 14px;
    font-weight: normal;
    background-color: #fff;
    color: #18344d;
    position: fixed;
    top: 156px;
}

.errorMessage {
    font-size: 22px;
    font-weight: normal;
    color: #800;
    background-color: #fff;
    position: fixed;
    top: 156px;
}

.topButtons {
    color: #0f0;
    height: 90px;
}

/* Labels for advanced Search inputs.  There is probably a style for these aready, but I can't find it, will search again in future. */

.advancedSearchLabel{
    font-size: 14px;
    background-color: #fff;
    color: #18344d;
}

/* The four round buttons - top right */

.roundButton {
    font-size: 10pt;
}

.roundButton a {
    background-color: #fff;
    color: #a52a2a;
    text-decoration: none;
}

.toolLinks:link, .toolLinks:visited, .toolLinks:active, .toolLinks:hover {
    color: #663300;
}

/* Search results pane to the right of the Tree menu pane  */

.resultsDisplay {
    color: #000;
    padding-left: 15px;

    /*  Top of display pane  */
    margin-top: 110px; /* needs to match .treeMenu.  If you change this, you will also need to change .topTabPos */

    overflow-x: scroll;
    overflow-y: scroll;
    resize: horizontal;
}

/* The tree for each tab  (within treeWindow class)  */

.treeMenu {
    float: left;
    /* top of tree menu pane  */
    margin-top: 110px; /* needs to match .resultsDisplay.  If you change this, you will also need to change .topTabPos*/
    margin-left: 6px;

    font-size: 13px;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;

    /* The Starting/default width of the Tree menu pane */
    width: 25%;

    overflow-x: scroll;
    overflow-y: scroll;
    resize: horizontal;

    /* Tree menu colors  */
    background-color: #f7f7e6;
    color: #18344d;

    /* Spacing for each line, not the actual line. */
    line-height: 24px;
}

/* The search query input and options */

.queryTypeRadioButtons {
    font-size: 11pt;
    color: #18344d;
    padding-top: 6px;
    margin-top: 1px;
}

.queryTypeRadioButtons label {
margin-left: 15px;
display:inline-block !important;
}

.searchInput {
    color: #18344d;
    width: 745px !important;
    margin-left: 20px;
    padding-top: 4px;
    margin-top: 16px;
}

.publicIdSearch {
    padding-top: 4px;
    padding-left: 16px;
    margin-top: 16px;
}

.publicIdSearch .searchField label{
    display:table-cell;
    display:inline-block;
}

.publicIdSearch .searchTips {
    margin-left:0px !important;
}

.publicIdSearch .searchField {
    display:block !important;
    padding-bottom:8px;
    font-size:85%;
}

.basicSearchName {
    font-size: 11pt;
}

.basicSearchQuery {
    width: 65%;
}

.searchTips {
    margin-top: 7px;
    margin-bottom: 4px;
    margin-left:20px;
    font-size: 8pt;
}

.basicSearchField {
    margin-right: 10px;
    width: 80px;
}

.cdeTabs {
    background-color: #336699;
}

/* top row of logos and links */

.top-left-logo {
    position: absolute;
    left: 10px;
    top: 4px;
}

.top-center-logo {
    position: absolute;
    right: 256px;
    top: 4px;
}

.top-right-logo {
    position: absolute;
    right: 6px;
    top: 4px;
}

.top-right-logo a {
    text-decoration: underline;
    font-size: 13.33px;
    color:#0645AD;
}

/* the second top row of logos and links */

.top2-left-logo {
    position: absolute;
    left: 10px;
    top: 43px;
}

/* row of links  */

.top2-center-logo {
    position: absolute;
    right: 304px;
    top: 78px;
    font-size: 9pt;
}

.top2-right-logo {
    position: absolute;
    right: 6px;
    top: 47px;
}

.top2-right-logo td a {
    background-color:transparent;
}

/*  No line under the space between the round buttons */

.top2-right-logo a {
    text-decoration: none;
}

.versionPopover {
    color: #222;
}

.versionButton {
    color: #fff;
    background: #336699;
}

.versionNormal {
    background: #00aa00;
    color: #ffff00;

}
.versionFocused {
    color: #00aa00;
    background: #ffff00;
}

.cartCount {
    display:inline-block;
    position:relative;
    border-radius:50%;
    color:white;
    left:60px;
    top:-37px;
    width:20px;
    height:20px;
    background-color:#c90000;
}

.cartCount span{
    vertical-align:middle;
    margin-top:3px;
    display:inline-block;
    font-size:80%;
}

.cart a {
    display:inline-block;
}

.loginPage {
    font-size:90%;
}

.loginPage .cleanInput {
    border:1px solid #bfbfbf;
}

.loginPage span {
    padding-right:10px;
}

.loginPage div.text{
    padding-bottom:15px !important;
    display:inline-block;
}

.loginPage div {
    padding-bottom:10px;
    display:inline-block;
}

/* Fix to make clear button consistent with other buttons */

.searchAndClearButton {
    float: left;
    padding-top: 5px;
}

.searchAndClearButton button {
    padding: 3px 6px 3px 6px !important;
    font-size: 12px !important;
}

.leftButton {
    margin-left: -5px;
}

/* Rounds the corners of input boxes */

.roundInput {
    border-radius: 2px !important;
    border-width: thin;
}

/* Fixes the radio buttons on publicID search tab */

.publicIdLabel {
    width: 65px;
}

.publicIdInput {
    width: 425px;
}

.radioFix {
    margin: 0px 16px 0px -16px;
}

/* Search Preferences tab */

.searchPreferences {
    padding-left: 16px;
    margin-top: 16px;
    font-size:85%;
}

.searchPreferencesList {
    padding: 5px 20px 5px 0px;
    display: inline-block;
    width: 800px;
}

.searchPreferencesListMainHeadWorkflow {
    display: inline-block;
    padding-right: 286px;
    padding-bottom: 8px;
}

.searchPreferencesListMainHeadRegistration {
    display: inline-block;
    padding-right: 0;
    padding-bottom: 8px;
}

.searchPreferencesListWorkflowHeadIncluded {
    display: inline-block;
    padding-right: 140px;
    padding-bottom: 8px;
}

.searchPreferencesListWorkflowHeadExcluded {
    display: inline-block;
    padding-right: 176px;
    margin-left: -5px;
    padding-bottom: 8px;
}

.searchPreferencesListRegistrationHeadIncluded {
    display: inline-block;
    padding-right: 139px;
    margin-left: -5px;
    padding-bottom: 8px;
}

.searchPreferencesListRegistrationHeadExcluded {
    display: inline-block;
    padding-right: 0;
    margin-left: -5px;
    padding-bottom: 8px;
}

.searchPreferencesInput {
    padding-right: 66px;
    display: inline-block;
}

/*.searchPreferencesBorder {
    border: 1px solid #336699;
    border-radius: 4px;
    border-width: thin;
}*/

.dragDrop ul[dnd-list],
.dragDrop ul[dnd-list] > li {
  position: relative;
}

.test-class{
    margin-right: 60px !important;
}

.dragDrop ul[dnd-list] {
    border: 1px solid black;
    width: 168px;
    list-style: none;
    display: inline-block;
    min-height: 141px;
    max-height: 141px;
    overflow-y: scroll;
    float: left;
    margin-right: 20px;
    border-radius: 2px;
    border-width: thin;
}

.dragDrop ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 17px;
}

.dragDrop ul[dnd-list] li {
    padding: 3px 5px 3px 5px;
    background-color: #fff;
    font-size: 85%;
    display: block;
}

.dragDrop ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.searchPreferencesButton {
    padding-top: 8px;
}

/* Classification and Protocol autocomplete dropdowns */

.autoDropDown {
    padding-left: 10px !important;
}

/* Download buttons override CSS */

.buttonsPadding {
    padding: 10px 5px 10px 5px;
}

/* Compare Screen View */

.compareCDEDataElementDetailsTable {
    font-size: 10pt;
    background-color: #999966;
    color: #000000;
    font-family: Arial, Helvetica, Geneva, sans-serif;
}

.compareCDEDataElementDetailsHeading {
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 14pt;
    color: #2b5681;
    font-weight: bold
}

#mainDiv {
    position: absolute;
    top: 60px;
}

.testTable {
    position: absolute;
    /*right: 300px;*/
    top: 200px;
    font-size: 9pt;
}

.testClicker {
    position: absolute;
    right: 100px;
    top: 100px;
    font-size: 9pt;
}

.hScrollDiv {
    width: 30em;
    overflow-x: auto;
    white-space: nowrap;
}

.compareDataElementDescription {
    width: 230px;
}

.compareDataElementValue {
    width: 350px;
}

/*.compareDataElementColumn0 {
    color: #00aa00;
}*/

.compareDataElementColumn1 {
    width: 116px;
}

.compareDataElementColumn2 {
    width: 130px;
}

.compareDataElementColumn3 {
    width: 96px;
}

.compareTable {
    table-layout: auto;
}

.compareTest1 {
    color: #0f0;
    background-color: #e42;
}

.compareTest2 {
    color: #f0f;
    background-color: #0F0;
}

.compareTest3 {
    background-color: #0ff;
}

.compareScreenAnchors {
    padding:5px 0px 10px 0px;
}

.compareScreenAnchors span a {
    text-decoration: underline;
    cursor: pointer;
}

.compareScreenExpandCollapse {
    width: 15px;
    height: 15px;
    padding-left: 2px;
    cursor: pointer; 
}

.compareScreenDelete {
    width: 18px;
    height: 18px;
    float: right;
    padding: 0 4px 0;
    cursor: pointer;
}

/* Advance Search Options */

.advanceSearchCenter {
    padding-left: 275px;
    margin-top: -15px;
}

.advanceSearchButton {
    padding: 3px 6px 3px 6px !important;
    font-size: 12px !important;
}

.valueDomainGroup
{
    border-radius: 4px;
    border: 1px solid #73AD21;
    padding: 6px 4px 4px;
    margin: 4px 0;
}

.permissibleValueGroup {
    border-radius: 4px;
    border: 1px solid #73AD21;
    padding: 6px 4px 4px;
    margin: 4px 0;
}

.advanceSearchInput {
    width: 185px;
    margin-left: -4px !important;
}

.advanceSearchInputBordered {
    width: 180px;
    margin-left: -2px !important;
}

.advanceView {
    padding-top: 30px;
}

/* Search Field */ 

.searchFieldDropDown {
    margin-top: 0 !important;
    float: right;
}

.searchFieldDropDown select {
    width: 210px;
    height: 58px;
}

.searchFieldDropDownPublic {
    margin-top: 0 !important;
    float: right;
    padding-left: 7px;
}

.searchFieldDropDownPublic select {
    width: 210px;
    height: 58px;
}

.searchFieldTip,
.searchFieldTip strong {
    padding-top: 4px;
    font-size: 8pt !important;
}

/* Concept code and name */

.conceptGroup {
    border-radius: 4px;
    border: 1px solid #73AD21;
    padding: 6px 4px 4px;
    margin: 0;
}

.conceptInput {
    width: 314px;
}

.conceptRadio {
    font-size: 11pt;
    color: #18344d;
    padding-top: 6px;
    margin-top: 1px;
}

.conceptRadio label {
    display: inline-block !important;
    padding-right: 7px;
}

/* Workflow and Registration Statues Multi-select */

.wsAndRs {
    width: 185px;
}

.wsAndRs select{
    width: 185px !important;
    height: 64px;
}


