<br>

<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <th colspan="2" align="left">Selected Data Element</th>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription" width="20%">Public ID:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.classifications.selectedDataElement.publicId">{{cdeDetails.classifications.selectedDataElement.publicId}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Version:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.classifications.selectedDataElement.formattedVersion">{{cdeDetails.classifications.selectedDataElement.formattedVersion}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Long Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.classifications.selectedDataElement.longName">{{cdeDetails.classifications.selectedDataElement.longName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Short Name:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.classifications.selectedDataElement.shortName">{{cdeDetails.classifications.selectedDataElement.shortName}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Preferred Question Text:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.classifications.selectedDataElement.preferredQuestionText">{{cdeDetails.classifications.selectedDataElement.preferredQuestionText}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription">Definition:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.classifications.selectedDataElement.definition">{{cdeDetails.classifications.selectedDataElement.definition}}</td>
    </tr>
    <tr class="dataElementViewTableTr">
        <td class="dataElementDescription"> Workflow Status:</td>
        <td class="dataElementValue" ng-bind-html="cdeDetails.classifications.selectedDataElement.workflowStatus">{{cdeDetails.classifications.selectedDataElement.workflowStatus}}</td>
    </tr>
</table>
<br>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="6" align="left">Classifications
            <br>
            <font size="-2" color="#336699">*CS:Classification Scheme&nbsp;&nbsp; CSI:Classification Scheme Item</font>
        </td>
    </tr>
</table>

<div class="dataElementViewTableWithScroller">

    <table align="center" cellpadding="1" cellspacing="1" width="100%">
        <tr class="dataElementViewTableTr">
            <th class="dataElementHeading">CS* Long Name</th>
            <th class="dataElementHeading">CS* Public ID/Version</th>
            <th class="dataElementHeading">CSI* Name</th>
            <th class="dataElementHeading">CSI* Public ID/Version</th>
            <th class="dataElementHeading">CSI* Type</th>
        </tr>
        <tr class="dataElementViewTableTr" data-ng-repeat="classif in cdeDetails.classifications.classificationList">
            <td class="dataElementValue" ng-bind-html="classif.csLongName">{{classif.csLongName}}</td>
            <td class="dataElementValue">
                <span ng-bind-html="classif.csId">{{classif.csId}}</span>v<span ng-bind-html="classif.csVersion">{{classif.csVersion}}</span>
            </td>
            <td class="dataElementValue" ng-bind-html="classif.csiName">{{classif.csiName}}</td>
            <td class="dataElementValue">
                <span ng-bind-html="classif.csiId">{{classif.csiId}}</span>v<span ng-bind-html="classif.csiVersion">{{classif.csiVersion}}</span>
            </td>            
            <td class="dataElementValue" ng-bind-html="classif.csiType">{{classif.csiType}}</td>
        </tr>
        <tr class="dataElementViewTableTr" data-ng-hide="cdeDetails.classifications.classificationList.length">
            <td colspan="3">No applicable Classifications</td>
        </tr>
    </table>
</div>

<br>

<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="7" align="left">
            Classifications Scheme Reference Documents
        </td>
    </tr>
    <tr>
        <td>
            <font size="-2" color="#336699">*CS:Classification Scheme&nbsp;&nbsp; </font>
        </td>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">CS* Long Name</td>
        <td class="dataElementHeading">CS* Version</td>
        <td class="dataElementHeading">Document Name</td>
        <td class="dataElementHeading">Document Type</td>
        <td class="dataElementHeading">Document Text</td>
        <td class="dataElementHeading">URL</td>
        <td class="dataElementHeading">Attachments</td>
    </tr>
    <tr class="dataElementViewTableTr"
        data-ng-repeat="csrefdoc in cdeDetails.classifications.classificationsSchemeReferenceDocuments">
        <td class="dataElementValue" ng-bind-html="csrefdoc.csLongName">{{csrefdoc.csLongName}}</td>
        <td class="dataElementValue" ng-bind-html="csrefdoc.formattedCsVersion">{{csrefdoc.formattedCsVersion}}</td>
        <td class="dataElementValue" ng-bind-html="csrefdoc.documentName">{{csrefdoc.documentName}}</td>
        <td class="dataElementValue" ng-bind-html="csrefdoc.documentType">{{csrefdoc.documentType}}</td>
        <td class="dataElementValue" ng-bind-html="csrefdoc.documentText">{{csrefdoc.documentText}}</td>
        <td class="dataElementValue">
        <a href="{{csrefdoc.url}}" target="AuxWindow" ng-bind-html="csrefdoc.url"> {{csrefdoc.url}}</a>
        </td>

        <td class="dataElementValue">&nbsp;</td>
    </tr>
    <tr class="dataElementViewTableTr"
        data-ng-hide="cdeDetails.classifications.classificationsSchemeReferenceDocuments.length">
        <td colspan="3">No applicable Classifications Scheme Reference Documents</td>
    </tr>
</table><br>


<table class="cdeDetailsSubHeadingTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="cdeDetailsSubHeading">
        <td colspan="6" align="left">Classification Scheme Item Reference Documents
            <br>
            <font size="-2" color="#336699">*CSI:Classification Scheme Item</font></td>
    </tr>
</table>

<table class="dataElementViewTable" align="center" cellpadding="1" cellspacing="1">
    <tr class="dataElementViewTableTr">
        <td class="dataElementHeading">CSI* Name</td>
        <td class="dataElementHeading">Document Name</td>
        <td class="dataElementHeading">Document Type</td>
        <td class="dataElementHeading">Document Text</td>
        <td class="dataElementHeading">URL</td>
        <td class="dataElementHeading">Attachments</td>
    </tr>
    <tr class="dataElementViewTableTr"
        data-ng-repeat="csirefdoc in cdeDetails.classifications.classificationsSchemeItemReferenceDocuments">
        <td class="dataElementValue" ng-bind-html="csirefdoc.csiName">{{csirefdoc.csiName}}</td>
        <td class="dataElementValue" ng-bind-html="csirefdoc.documentName">{{csirefdoc.documentName}}</td>
        <td class="dataElementValue" ng-bind-html="csirefdoc.documentType">{{csirefdoc.documentType}}</td>
        <td class="dataElementValue" ng-bind-html="csirefdoc.documentText">{{csirefdoc.documentText}}</td>
        <td class="dataElementValue" ng-bind-html="csirefdoc.url">{{csirefdoc.url}}</td>
        <td class="dataElementValue">&nbsp;</td>
    </tr>
    <tr class="dataElementViewTableTr"
        data-ng-hide="cdeDetails.classifications.classificationsSchemeItemReferenceDocuments.length">
        <td colspan="6">No applicable Classification Scheme Item Reference Documents</td>
    </tr>
</table><br>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85797083-1', 'auto');
  ga('send', 'pageview');

</script>